{fontawesome}
{unsemantic}

<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/style.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/buttons.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/form.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/faq.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/products.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/frontend-users.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/order.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/user-orders.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/controls.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/mini-basket.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/product-bricks.css')}"/>

<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/cologne.blue.css')}"/>