{fontawesome}
{unsemantic}

<link as="font" crossorigin type="font/woff2" rel="preload" href="{$Template->getTemplateUrl('bin/fonts/maven-pro-v11-latin-500.woff2')}" />
<link as="font" crossorigin type="font/woff2" rel="preload" href="{$Template->getTemplateUrl('bin/fonts/maven-pro-v11-latin-regular.woff2')}" />
<link as="font" crossorigin type="font/woff2" rel="preload" href="{$Template->getTemplateUrl('bin/fonts/maven-pro-v11-latin-700.woff2')}" />

<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/variables.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/style.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/buttons.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/form.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/faq.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/products.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/frontend-users.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/order.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/controls.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/mini-basket.css')}"/>
<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/product-bricks.css')}"/>

<link rel="stylesheet" href="{$Template->getTemplateUrl('bin/css/cologne.blue.css')}"/>
