<div class="cologne-footer-predefined template-grid-container">
    <div class="template-children-container cologne-footer-predefined-container">

        {* <!-- short text --> *}
        {if $shortText}
        <div class="cologne-footer-predefined-entry cologne-footer-predefined-entry__shortText">
            {if $shortText['title']}
            <header class="control-header">
                <h2>{$shortText['title']}</h2>
            </header>
            {/if}

            <div class="footer-shortText-content">
                {locale group="quiqqer/template-cologne" var="settings.predefinedFooter.shortText.content"}
            </div>
        </div>
        {/if}

        {* <!-- url list --> *}
        {if $urlList}
        <div class="cologne-footer-predefined-entry cologne-footer-predefined-entry__urlList">
            {if $urlList['title']}
            <header class="control-header">
                <h2>{$urlList['title']}</h2>
            </header>
            {/if}

            <div class="footer-urlList-container">
                <ul class="fa-ul">
                    {foreach $urlList['sites'] as $siteData}
                    <li>
                        <span class="fa-li fa fa-angle-right"></span>
                        <a href="{$siteData['url']}"
                           title="{$siteData['title']}"
                        >
                            {$siteData['title']}
                        </a>
                    </li>
                    {/foreach}

                    {* <!-- product search --> *}
                    {if $urlList['productSearch']}
                    <li>
                        <span class="fa-li fa fa-angle-right"></span>
                        <a href="{$urlList['productSearch']['url']}"
                           title="{$urlList['productSearch']['title']}"
                        >
                            {$urlList['productSearch']['title']}
                        </a>
                    </li>
                    {/if}

                    {* <!-- legal notes --> *}
                    {if $urlList['legalNotes']}
                    <li>
                        <span class="fa-li fa fa-angle-right"></span>
                        <a href="{$urlList['legalNotes']['url']}"
                        title="{$urlList['legalNotes']['title']}"
                           >
                            {$urlList['legalNotes']['title']}
                        </a>
                    </li>
                    {/if}

                    {* <!-- privacy policy --> *}
                    {if $urlList['privacyPolicy']}
                    <li>
                        <span class="fa-li fa fa-angle-right"></span>
                        <a href="{$urlList['privacyPolicy']['url']}"
                           title="{$urlList['privacyPolicy']['title']}"
                        >
                            {$urlList['privacyPolicy']['title']}
                        </a>
                    </li>
                    {/if}

                    {* <!-- general terms and conditions --> *}
                    {if $urlList['generalTermsAndConditions']}
                    <li>
                        <span class="fa-li fa fa-angle-right"></span>
                        <a href="{$urlList['generalTermsAndConditions']['url']}"
                           title="{$urlList['generalTermsAndConditions']['title']}"
                        >
                            {$urlList['generalTermsAndConditions']['title']}
                        </a>
                    </li>
                    {/if}
                </ul>
            </div>
        </div>
        {/if}

        {* <!-- featured products --> *}
        {if $featuredProducts}
        <div class="cologne-footer-predefined-entry cologne-footer-predefined-entry__featuredProducts">
            {if $featuredProducts['title']}
            <header class="control-header">
                <h2>{$featuredProducts['title']}</h2>
            </header>
            {/if}

            <div class="footer-featuredProducts-control">
                {$featuredProducts['Control']->create()}
            </div>
        </div>
        {/if}

        {* <!-- payments --> *}
        {if $paymentsData}
        <div class="cologne-footer-predefined-entry cologne-footer-predefined-entry__payments">
            {if $paymentsData['title']}
            <header class="control-header">
                <h2>{$paymentsData['title']}</h2>
            </header>
            {/if}

            <div class="footer-payments-control">
                {$paymentsData['PaymentsControl']->create()}
            </div>
        </div>
        {/if}
    </div>
</div>