<div class="cologne-header-menu-wrapper">
    <header class="cologne-header cologne-header-menu template-columns">

        {* <!-- Menu prefix: shop category menu and logo --> *}
        {fetch template="template/menu/menuPrefix.html" Logo=$Logo showCategoryMenu=$showCategoryMenu Template=$Template}

        <div class="cologne-header-nav hide-desktop-menu-breakpoint">
            {$Menu->create()}
        </div>

        {* <!-- Menu suffix: user login --> *}
        {fetch template="template/menu/menuSuffix.html" createBasketButton=$createBasketButton basketStyle=$basketStyle initialBasketPrice=$initialBasketPrice}
    </header>
</div>