<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onProjectConfigSave" fire="\QUI\TemplateCologne\EventHandler::onProjectConfigSave"/>
    <event on="onSiteSave" fire="\QUI\TemplateCologne\EventHandler::onSiteSave"/>
    <event on="onSmartyInit" fire="\QUI\TemplateCologne\EventHandler::onSmartyInit"/>
    <event on="onQuiqqer::products::product::buttons::end"
           fire="\QUI\TemplateCologne\EventHandler::onQuiqqerProductsProductButtonsEnd"
    />
</events>