parameters:
    level: 8
    phpVersion:
        min: 80200
        max: 80509
    paths:
        - src
        - ajax
        - index.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tipsOfTheDay: false
