.templateCologne-frontendUsers-profile-container-login {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.quiqqer-frontend-users-address-description-button {
    max-width: 100% !important;
}

/********************/
/* simple user info */
/********************/
.quiqqer-fupc-userinfo {
    border: var(--_qui-cologne-theme-border-width) solid var(--_qui-cologne-theme-border-color);
    border-radius: 5px;
    margin-bottom: 1em;
    background: #fff;
}

.quiqqer-fupc-userinfo .sui-top {
    background: url("../images/brushed_alu.png");
}

/***********/
/* Profile */
/***********/
.quiqqer-frontendUsers-controls-profile {
    --qui-frontend-users-profile__radius: 0;
    --qui-frontend-users-profile__sidebar-width: 360px;
    --qui-frontend-users-profile__content-maxWidth: 700px;
    --qui-frontend-users-profile__sidebar-nav-item-outline--hover: none;
    --qui-frontend-users-profile__sidebar-nav-item-bg-color--hover: transparent;
}

/*****************/
/* category menu */
/*****************/
.quiqqer-fupc-category {
    /*margin-bottom: 2em;*/
}

.quiqqer-fupc-category-header {
    line-height: 30px;
}

.quiqqer-fupc-category-items-item {
    border-top: var(--_qui-cologne-theme-border-width) solid var(--_qui-cologne-theme-border-color);
    border-left: var(--_qui-cologne-theme-border-width) solid var(--_qui-cologne-theme-border-color);
    border-right: var(--_qui-cologne-theme-border-width) solid var(--_qui-cologne-theme-border-color);
    clear: both;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.quiqqer-fupc-category-items-item:last-child {
    border-bottom: var(--_qui-cologne-theme-border-width) solid var(--_qui-cologne-theme-border-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.quiqqer-fupc-category-items-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.quiqqer-fupc-category-items-item:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.quiqqer-fupc-category-items-item[data-active]:before,
.quiqqer-fupc-category-items-item:is(:hover, :focus):before {
    width: 4px;
}

.quiqqer-fupc-category-items-item .fa {
    line-height: 40px;
    width: 40px;
}

/***********/
/* address */
/***********/
.quiqqer-frontendUsers-userdata-invoiceaddress {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.cologne-main .quiqqer-frontendUsers-userdata-invoiceaddress select,
.cologne-main .quiqqer-shipping-user-address select {
    width: calc(100% - 110px);
    margin-right: 10px;
}

/******************/
/* profile orders */
/******************/
/* hide top pagination */
.quiqqer-order-profile-orders .quiqqer-order-profile-orders-pagination:first-child {
    display: none;
}

/*****************/
/* Login control */
/*****************/
:where(.loginAndRegister) .quiqqer-fu-login-container,
:where(.loginAndRegister) .quiqqer-fu-registrationSignUp {
    padding: 1.5rem 2rem;
}

:where(.loginAndRegister) .quiqqer-fu-login-container {
    background: #f8f8f8;
    border: var(--_qui-cologne-theme-border-width) solid var(--_qui-cologne-theme-border-color);
    max-width: 400px;
    position: relative;
    width: 100%;
}

.loginAndRegister .quiqqer-fu-login-container-width {
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
}

:where(.loginAndRegister) .quiqqer-frontendUsers-login .quiqqer-fu-login-container {
    background: none;
    border: none;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 767px) {
    :where(.loginAndRegister) .quiqqer-fu-registrationSignUp {
        padding: 0;
    }
}

/******************/
/* reset password */
/******************/
.quiqqer-fu-login-container .quiqqer-fu-login-forget-password-reset [name="cancel"] {
    background: none;
    border: none;
    color: inherit;
    margin-top: 1rem;
    padding: 0;
    position: initial;
    width: 100%;
    text-align: right;
}

.quiqqer-fu-login-container .quiqqer-fu-login-forget-password-reset [type="submit"] {
    margin-top: 1rem;
}

/*******************/
/* Login site type */
/*******************/
.type-quiqqer-frontend-users-types-registrationSignUp .registration-sign-in {
    min-height: 200px;
    margin: 3rem 0;
}

.type-quiqqer-frontend-users-types-registrationSignUp .quiqqer-fu-registrationSignUp {
    margin: 0;
}

.quiqqer-fu-registrationSignUp-registration h2 {
    text-align: center;
}

.loginAndRegister .quiqqer-fu-login-forget-password-link {
    margin-bottom: 1rem;
}

.loginAndRegister-register .quiqqer-fu-registrationSignUp-registration-content {
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
}

.loginAndRegister .quiqqer-fu-login-forget-password-reset {
    padding-inline: 2rem;
}

.quiqqer-fu-registrationSignUp-terms-text [name="decline"] {
    right: 0 !important;
}

.registration-sign-in .quiqqer-fu-registrationSignUp-info,
.registration-sign-in .quiqqer-fu-registrationSignUp-registration {
    text-align: left;
}

/***********************/
/* registration sign up */
/***********************/
.quiqqer-fu-registrationSignUp-terms-text [name="decline"] .fa {
    margin-right: 0;
}

.quiqqer-fu-registrationSignUp-registration .quiqqer-fu-registrationSignUp-terms button[name="decline"]:hover {
    opacity: 1 !important;
    background: #f5f5f5;
}