.quiqqer-frontendUsers-controls-profile-categoryContent h2 {
    font-weight: normal;
    line-height: 40px;
}

.quiqqer-fupc-category-header {
    line-height: 30px;
}

.quiqqer-fu-profile-categories-category-items {
    clear: both;
    float: left;
    width: 100%;
}

.quiqqer-fupc-category-items-item {
    clear: both;
    color: #333;
    float: left;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
}

.quiqqer-fupc-category-items-item .fa {
    line-height: 40px;
}

.quiqqer-frontend-users-address header,
.quiqqer-frontendUsers-userdata-section header {
    padding: 20px 0;
}

.quiqqer-frontend-users-address header h2,
.quiqqer-frontendUsers-userdata-section header h2 {
    padding-bottom: 0;
}

.quiqqer-frontendUsers-userdata-invoiceaddress {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}