/** mini basket
 ===================================== */
.wrapper {
    padding-top: 10em;
}
.quiqqer-order-basket-small-container {
    width: 350px;
    margin: 0 auto; /* test */
    padding: 15px !important;
    box-shadow: 0 7px 22px -5px rgba(48, 60, 72, 0.2);
    background: #ffffff;
}

.quiqqer-order-basket-small-articles-article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    position: relative;
}

.quiqqer-order-basket-small-articles-article-image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.quiqqer-order-basket-small-articles-article-image img {
    max-width: 60px;
    max-height: 60px;
}

.quiqqer-order-basket-small-articles-article-content {
    margin-right: 1.3em;
    width: 100%
}
.quiqqer-order-basket-small-articles-article-content h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 100%;
}

.quiqqer-order-basket-small-articles-article-price-wrapper {
    margin-top: 6px;
    color: #999
}

.quiqqer-order-basket-small-articles-article-price-sum {
    float: right;
}

.quiqqer-order-basket-small-articles-article-content .fa {
    position: absolute;
    right: 0;
    top: 0;
    color: #ababab;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.quiqqer-order-basket-small-articles-article-content .fa:hover {
    color: #f14428;
}


/* basket summary */
.quiqqer-order-basket-small-total {
    width: 100%;
    margin-top: 1em;
}

.quiqqer-order-basket-small-total td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.quiqqer-order-basket-small-total td:first-child {
    color: #999;
}

.quiqqer-order-basket-small-total-sum td:first-child {
    color: inherit;
}

.quiqqer-order-basket-small-total td:nth-child(2n) {
    text-align: right;
}

.quiqqer-order-basket-small-buttons {
    text-align: right;
    margin-top: 15px;
}

.quiqqer-order-basket-small-total-sum td {
    border-top: 1px dashed #ddd;
    font-weight: 500;
}