/** Order Process
 =================================================== */
.quiqqer-order-ordering .quiqqer-order-ordering-timeline {
    border-bottom: none;
}

.quiqqer-order-ordering-timeline a {
    color: inherit;
}

.type-quiqqer-order-types-orderingProcess .content-template {
    padding: 0;
}

.cologne-main .message-error {
    padding: 20px;
}

.quiqqer-order-ordering-buttons-next {
    cursor: pointer;
}

.quiqqer-order-ordering-timeline li {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-ordering .quiqqer-order-ordering-timeline li {
        width: 140px !important;
    }

    .quiqqer-order-ordering-timeline .quiqqer-order-ordering-timeline-container li .title {
        font-size: 11px;
    }
}

/****************/
/* step: basket */
/****************/
.quiqqer-order-basket-articles {
    border-spacing: 0;
    width: 100%;
}

.quiqqer-order-basket-articles td {
    border: none;
    padding-bottom: 10px;
    vertical-align: top;
}

.quiqqer-order-basket-articles th {
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-top: 1px solid #ddd;
    padding: 5px 10px;
}

th.quiqqer-order-basket-articles-header-pos {
    border-left: 1px solid #ddd;
    text-align: left;
    width: 60px;

}

th.quiqqer-order-basket-articles-header-quantity {
    width: 200px;
    text-align: right;
}

th.quiqqer-order-basket-articles-unitPrice {
    width: 130px;
}

th.quiqqer-order-basket-articles-header-price {
    width: 130px;
}

.quiqqer-order-basket-articles-header th:last-child {
    border-right: 1px solid #ddd;
    width: 50px;
}


.quiqqer-order-basket-articles-header {
    font-size: 12px;
    line-height: 30px;
}

.quiqqer-order-basket-articles td {
    padding: 10px 10px;
    vertical-align: top;
}

.quiqqer-order-basket-articles-article-pos {
    text-align: left;
    width: 60px;
}

.quiqqer-order-basket-articles-article-quantity {
    text-align: center;
    width: 100px;
}

.quiqqer-order-basket-articles-article-quantity input {
    height: 30px;
    line-height: 30px;
    width: 100px;
}

.quiqqer-order-basket-articles-article-quantity button {
    display: inline-block;
    height: 30px;
    line-height: 20px;
}


.quiqqer-order-basket-articles-unitPrice {
    width: 200px;
}

td.quiqqer-order-basket-articles-article-remove {
    padding-right: 0;
    text-align: right;
}

.quiqqer-order-basket-articles-article-remove button {
    background: none;
    border-color: transparent;
    color: inherit;
    padding: 0 10px;
}

td.quiqqer-order-basket-articles-article-remove button:hover {
    color: red;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-basket-articles-article-remove button {
        border: 1px solid;
    }
}

.quiqqer-order-basket-articles-article-remove .fa {
    margin: 0;
    padding: 0;
}

.quiqqer-order-basket-articles-header-information {
    text-align: left;
}

.quiqqer-shoppingCart-basket-end,
.quiqqer-order-basket-end {
    background: #f8f8f8;
    border: 1px solid #ddd;
    clear: both;
    margin-top: 20px;
    min-height: 90px;
    padding: 20px;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .quiqqer-shoppingCart-basket-end, .quiqqer-order-basket-end {
        padding: 10px;
    }
}

.quiqqer-order-basket-articles-header-quantity,
.quiqqer-order-basket-articles-header-price,
.quiqqer-order-basket-articles-article-quantity,
.quiqqer-order-basket-articles-unitPrice,
.quiqqer-order-basket-articles-article-price,
.quiqqer-order-basket-articles-article-sum {
    text-align: right;
}

.quiqqer-order-basket-total {
    background: #f8f8f8;
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: right;
    width: 100%;
}

.quiqqer-order-basket-total td {
    border: none;
    padding-bottom: 5px;
}

.quiqqer-order-control-order-information-orderData-table td:last-child,
.quiqqer-order-basket-total td:last-child {
    width: 150px;
}

.quiqqer-order-control-order-information-orderData-placeholder td {
    width: initial !important;
}

.quiqqer-order-basket-total [colspan="2"] {
    font-size: 1px;
    padding: 0;
}

.quiqqer-order-basket-total-sum {
    font-weight: bold;
}

.type-quiqqer-order-types-orderingProcess .content-header {
    display: none;
}

.content-template .quiqqer-order-ordering {
    display: inline-block;
    margin-bottom: 20px;
}

.quiqqer-order-basket-total-subSum-text,
.quiqqer-order-basket-total-subSum-value {
    border-bottom: 1px solid #999999;
}

.quiqqer-order-basket-total-sum-text,
.quiqqer-order-basket-total-sum-value {
    border-bottom: 3px double #999999;
}

/* coupons */
.quiqqer-coupons-couponcodeinput-title {
    display: none;
}

input.quiqqer-coupons-couponcodeinput-input:hover,
input.quiqqer-coupons-couponcodeinput-input:focus,
input.quiqqer-coupons-couponcodeinput-input:active {
    background: #fff;
    border-color: #28a745;
}

.btn.quiqqer-coupons-couponcodeinput-btn {
    background: #fff;
    border-color: #28a745;
    color: #28a745;
}

.btn.quiqqer-coupons-couponcodeinput-btn:hover,
.btn.quiqqer-coupons-couponcodeinput-btn:active {
    background: #28a745;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .quiqqer-coupons-couponcodeinput {
        flex-wrap: wrap;
    }

    .quiqqer-coupons-couponcodeinput label {
        margin: 0 0 1rem 0;
        width: 100%;
    }

    .quiqqer-coupons-couponcodeinput input,
    .btn.quiqqer-coupons-couponcodeinput-btn {
        width: 100%;
    }

    .quiqqer-order-basket-articles-article td:before {
        font-weight: bold;
    }
}

.quiqqer-order-basket-articles-article-productno {
    color: #adadad;
    font-size: 12px;
}

/***********************/
/* step: customer data */
/***********************/
.quiqqer-order-customerData-container {
    display: flex;
}

.quiqqer-order-customerData {
    margin-right: 20px;
}

.quiqqer-order-customerData-container .quiqqer-order-customerData,
.quiqqer-order-customerData-container .quiqqer-order-customerData-comment {
    width: calc(50% - 20px);
}

.quiqqer-order-customerData-edit .quiqqer-order-customerData-edit-salutation {
    margin-top: 0;
}

.quiqqer-order-ordering-step .quiqqer-order-customerData-comment {
    align-self: flex-start;
    background: #f8f8f8;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-top: 0;
    padding: 1rem;
}

.quiqqer-order-customerData header h1 button {
    margin-left: 1rem;
}

.quiqqer-order-customerData header h1 button > .fa {
    margin: 0;
}

.quiqqer-order-customerData .quiqqer-order-customerData-display {
    margin-top: 2rem;
    max-width: initial;
    padding-right: 0;
}

.quiqqer-order-customerData-display-customerNo,
.quiqqer-order-customerData-display-eMail,
.quiqqer-order-customerData-display-tel {
    display: flex;
    margin-bottom: 5px;
}

.quiqqer-order-customerData-display-customerNo span:first-child,
.quiqqer-order-customerData-display-eMail span:first-child,
.quiqqer-order-customerData-display-tel span:first-child {
    opacity: 0.75;
    width: 160px;
}

.quiqqer-order-customerData-display .quiqqer-order-customerData-display-address {
    margin-top: 2rem;
}

.quiqqer-order-customerData-edit {
    margin-top: 2rem;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-customerData-container {
        display: block;
    }

    .quiqqer-order-customerData-container .quiqqer-order-customerData,
    .quiqqer-order-customerData-container .quiqqer-order-customerData-comment {
        max-width: 100%;
        width: 100%;
    }

    .quiqqer-order-customerData {
        margin-right: 0;
    }

    .quiqqer-order-ordering-step .quiqqer-order-customerData-comment {
        margin-left: 0;
    }
}

/******************/
/* step: shipping */
/******************/

.quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry {
    border-bottom: none;
}

.quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry:hover {
    background: #f8f8f8 !important;
}

.quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry:hover {
    background: rgba(0, 0, 0, 0.1);
}

.quiqqer-order-step-shipping-list-entry-price {
    display: flex;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry {
        display: flex !important;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .quiqqer-order-step-shipping-list-entry:last-child {
        margin-bottom: 0;
    }

    .quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry.selected {
        background: none;
    }

    .quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry-select {
        display: flex !important;
        flex: initial;
        width: 40px;
    }

    .quiqqer-order-step-shipping-list-entry-select input[type="radio"] {
        margin: 0;
    }

    .quiqqer-order-step-shipping-list .quiqqer-order-step-shipping-list-entry-icon {
        padding: 0 !important;
        width: calc(100% - 80px) !important;
    }

    .quiqqer-order-step-shipping-list-entry-text,
    .quiqqer-order-step-shipping-list-entry-price {
        padding: 10px 10px 10px 40px;
    }

    .quiqqer-order-step-shipping-list-entry-text,
    .quiqqer-order-step-shipping-list-entry-price {
        margin-left: 40px;
    }
}

/******************/
/* step: payments */
/******************/
.quiqqer-order-step-payments-list .quiqqer-order-step-payments-list-entry {
    border-bottom: none;
}

.quiqqer-order-step-payments-list .quiqqer-order-step-payments-list-entry:hover .quiqqer-order-step-payments-list-entry-select {
    background: none;
}

.quiqqer-order-step-payments-list-entry-select input[type="radio"] {
    margin: 0;
}

.quiqqer-order-step-payments-list-entry:hover {
    background: #f8f8f8 !important;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-step-payments-list .quiqqer-order-step-payments-list-entry {
        display: flex !important;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }

    .quiqqer-order-step-payments-list-entry .quiqqer-order-step-payments-list-entry-text {
        padding: 10px 0 0;
    }

    .quiqqer-order-step-payments-list-entry .quiqqer-order-step-payments-list-entry-icon {
        padding: 0 !important;
    }

    .quiqqer-order-step-payments-list-entry.selected {
        background: none !important;
    }

    .quiqqer-order-step-payments-list-entry .quiqqer-order-step-payments-list-entry-select {
        align-items: center;
        display: flex !important;
        justify-content: center;
        width: 40px;
    }

    .quiqqer-order-step-payments-list-entry .quiqqer-order-step-payments-list-entry-icon,
    .quiqqer-order-step-payments-list-entry .quiqqer-order-step-payments-list-entry-text {
        width: calc(100% - 40px) !important;
    }

    .quiqqer-order-step-payments-list-entry .quiqqer-order-step-payments-list-entry-text {
        margin-left: 40px;
    }
}

/******************/
/* step: checkout */
/******************/

.quiqqer-order-step-checkout-invoiceAddress .postal-country {
    float: left;
}

/******************/
/* step: finish */
/******************/
.quiqqer-order-control-order-information .postal-country {
    float: left;
}

/** article content
 =========================================== */
.quiqqer-order-basket-articles-article-data ul {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .quiqqer-order-step-basket {
        display: block;
    }

    .quiqqer-order-ordering header h1 {
        font-size: 2em;
    }

    .quiqqer-order-basket-articles {
        border: 1px solid #ddd;
    }

    .quiqqer-order-basket-articles table,
    .quiqqer-order-basket-articles tbody,
    .quiqqer-order-basket-articles th,
    .quiqqer-order-basket-articles td,
    .quiqqer-order-basket-articles tr {
        display: block;
        overflow: hidden;
    }

    .quiqqer-order-basket-articles thead tr {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }

    .quiqqer-order-basket-articles td:before {
        content: attr(data-label);
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: left;
        width: 100px;
    }

    .quiqqer-order-basket-articles td {
        padding-bottom: 5px;
        padding-left: 100px;
        position: relative;
        text-align: left;
        width: initial;
    }

    .quiqqer-order-basket-articles-article {
        padding: 10px 10px 10px 10px;
    }

    .quiqqer-order-basket-articles-article:nth-child(2n) {
        background: #f8f8f8;
    }

    .quiqqer-order-basket-articles-article-title {
        display: block;
        width: 100%;
    }

    .quiqqer-order-ordering-buttons {
        margin-bottom: 10px;
    }

    .quiqqer-order-ordering-buttons-previous {
        margin-bottom: 20px;
    }

    .quiqqer-order-ordering-buttons-backToShop {
        display: none;
    }

    .quiqqer-order-ordering-buttons-next,
    .quiqqer-order-ordering-buttons a {
        width: 100%;
    }

    .quiqqer-order-basket-end {
        height: inherit;
        padding: 1rem;
        text-align: center;
    }

    .quiqqer-order-basket-end > * {
        display: inline-block;
        float: none !important;
        margin: 0 !important;
        width: 100%;
    }

    .quiqqer-order-basket-end > * + * {
        margin-top: 20px !important;
    }

    .quiqqer-payment-paypal-express {
        padding: 1rem 0;
    }

    .quiqqer-order-basket-end .quiqqer-coupons-couponcodeinput {
        flex-direction: column;
        padding: 0;
        text-align: left;
    }

    .quiqqer-order-basket-end .quiqqer-coupons-couponcodeinput input {
        margin-bottom: 1rem;
        width: 100%;
    }

    .quiqqer-coupons-couponcodeinput label span {
        display: block;
        padding: 5px 10px;
    }

    .quiqqer-order-next-mobile {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.quiqqer-order-customerData-edit [name="businessType"] {
    line-height: 40px;
    padding: 0 8px;
    width: 60% !important;
}


/******************/
/* step: checkout */
/******************/
.quiqqer-order-step-checkout-attention {
    margin-bottom: 20px;
}

.quiqqer-order-step-checkout .quiqqer-order-step-checkout-invoiceAddress,
.quiqqer-order-step-checkout .quiqqer-order-step-checkout-deliveryAddress,
.quiqqer-order-step-checkout .quiqqer-order-step-checkout-payments {
    margin: 20px 0;
    overflow: auto;
}

.quiqqer-order-step-checkout .quiqqer-order-step-checkout-shipping,
.quiqqer-order-step-checkout .quiqqer-order-step-checkout-payments-payment {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.quiqqer-order-step-checkout .quiqqer-order-step-checkout-payments-payment {
    padding-right: 10px;
}

.quiqqer-order-step-checkout .quiqqer-order-step-checkout-shipping {
    padding-left: 10px;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-step-checkout .quiqqer-order-step-checkout-shipping,
    .quiqqer-order-step-checkout .quiqqer-order-step-checkout-payments-payment {
        padding: 0;
    }

    .quiqqer-order-step-checkout .quiqqer-order-step-checkout-payments-payment {
        margin-bottom: 20px;
    }
}

table.articles-article {
    border-bottom: none;
    border-spacing: 0;
    margin: 4rem 0 0;
    padding-bottom: 0 !important;
    width: 100%;
}

.articles-article td {
    border: none;
    padding: 10px;
    text-align: right;
    vertical-align: top;
}

td.articles-article-information {
    text-align: left;
}

.articles-article .articles-article-header {
    font-size: 12px;
    line-height: 30px;
    color: inherit;
}

.articles-article-header th {
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-top: 1px solid #ddd;
    padding: 5px 10px;
    text-align: right;
}

th.articles-article-header-information {
    text-align: left;
}

.articles-article-header .articles-article-header-pos {
    border-left: 1px solid #ddd;
    text-align: left;
    width: 60px;
}

.articles-article-header .articles-article-header-quantity {
    text-align: right;
}

.articles-article .articles-article-header-vat {
    width: 100px;
}

.articles-article .articles-article-header-quantity {
    width: 130px;
}

.articles-article .articles-article-header-unitprice {
    width: 130px;
}

.articles-article-header .articles-article-header-price {
    border-right: 1px solid #ddd;
    width: 130px;
}

.articles-article .articles-article-pos {
    text-align: left;
}

.articles-article .articles-article-header-articleNo {
    text-align: left;
    width: 150px;
}

.articles-article .articles-article-articleNo {
    text-align: left;
}

.articles-article .articles-article-quantity {
    text-align: right;
}

.quiqqer-order-step-checkout-notice label {
    background: #f8f8f8;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    padding: 10px;
}

.articles-sum {
    background: #f8f8f8;
    border: 1px solid #ddd;
    float: right;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: right;
    width: 100%;
}

table.articles-sum td {
    border: none;
    font-size: inherit;
    padding-bottom: 5px;
}

.articles-sum-row-subsum td {
    padding-bottom: 5px;
}

.articles-sum-row-sum {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    table.articles-article {
        border: 1px solid #ddd;
        margin-top: 2rem;
    }

    .articles-article tr {
        padding: 10px;
    }

    .articles-article tr:nth-child(2n) {
        background: #f8f8f8;
    }

    .articles-article td:before {
        font-weight: bold;
    }

    .articles-article .articles-article-quantity {
        text-align: left;
    }

    .quiqqer-order-step-checkout .quiqqer-order-step-checkout-notice input[name="termsAndConditions"] {
        margin-bottom: 0;
    }
}

/*****************/
/* step: gateway */
/*****************/
.quiqqer-order-ordering-step .quiqqer-order-step-processing {
    background: #f8f8f8;
    border: 1px solid #ddd;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    overflow: hidden;
    padding: 1rem;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-information-payment-title {
    display: block;
}

@media screen and (max-width: 767px) {
    .quiqqer-order-control-order-information-payment,
    .quiqqer-order-control-order-information-invoiceAddress,
    .quiqqer-order-control-order-information-orderData,
    .quiqqer-order-control-order-information-delivery-address,
    .quiqqer-order-control-order-information-shipping,
    .quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-information-payment {
        width: 100% !important;
    }
}

/**********************/
/* step: order (last) */
/**********************/
.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-information-orderData-table {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 100% !important;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-total td {
    border: none;
    padding-bottom: 5px;
    text-align: right;
}

.quiqqer-order-control-orderLikeBasket .quiqqer-order-control-order-total td:last-child {
    width: 150px;
}

.quiqqer-order-control-order-information-orderData-subSum-text,
.quiqqer-order-control-order-information-orderData-subSum-value {
    border-bottom: 1px solid #999999;
}

.quiqqer-order-control-order-information-orderData-sum-text,
.quiqqer-order-control-order-information-orderData-value {
    border-bottom: 3px double #999999;
}

/*****************************/
/* shopping cart (site type) */
/*****************************/
.type-quiqqer-order-types-shoppingCart .content-header,
.type-quiqqer-order-types-shoppingCart .quiqqer-order-step-basket > header {
    display: none;
}

/****************/
/* Order window */
/****************/
.quiqqer-order-window .qui-window-popup-buttons {

}

@media screen and (max-width: 767px) {
    .quiqqer-order-window .quiqqer-order-window-header {
        background: #f8f8f8;
    }

    .quiqqer-order-window .qui-window-popup-buttons {
        background: #f8f8f8;
    }
}
