/** Order Process
 =================================================== */

.cologne-main .message-error {
    padding: 20px;
}

.quiqqer-order-basket-articles {
    width: 100%;
}

.quiqqer-order-basket-articles td {
    padding-bottom: 10px;
    vertical-align: top;
}

.quiqqer-order-basket-articles-header {
    color: #999999;
    font-size: 12px;
    line-height: 30px;
}

.quiqqer-order-basket-articles-article-pos {
    text-align: center;
    width: 100px;
}

.quiqqer-order-basket-articles-header-information {
    text-align: left;
}

.quiqqer-order-basket-articles-article-quantity {
    text-align: center;
}

.quiqqer-order-basket-end {
    background: #f8f8f8;
    border: 1px solid #ddd;
    clear: both;
    float: left;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
    position: relative;
    width: 100%;
}

.quiqqer-order-basket-articles-header-price,
.quiqqer-order-basket-articles-unitPrice,
.quiqqer-order-basket-articles-article-price,
.quiqqer-order-basket-articles-article-sum {
    text-align: right;
}

.quiqqer-order-basket-total {
    float: right;
    margin-top: 20px;
    text-align: right;
}

.type-quiqqer-order-types-orderingProcess .content-header {
    display: none;
}

.quiqqer-order-ordering-buttons-backToShop {
    margin-right: 10px;
}

/** article content
 =========================================== */

.quiqqer-order-basket-articles-article-title {
    font-weight: bold;
}

.quiqqer-order-basket-articles-article-data ul {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .quiqqer-order-ordering header h1 {
        font-size: 2em;
    }

    .quiqqer-order-basket-articles table,
    .quiqqer-order-basket-articles tbody,
    .quiqqer-order-basket-articles th,
    .quiqqer-order-basket-articles td,
    .quiqqer-order-basket-articles tr {
        display: block;
        overflow: hidden;
    }

    .quiqqer-order-basket-articles thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .quiqqer-order-basket-articles td:before {
        content: attr(data-label);
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: left;
        width: 100px;
    }

    .quiqqer-order-basket-articles td {
        text-align: left;
        padding-bottom: 5px;
        padding-left: 100px;
        position: relative;
        width: initial;
    }

    .quiqqer-order-basket-articles-article-title {
        display: block;
        width: 100%;
    }

    .quiqqer-order-ordering-buttons {
        margin-bottom: 10px;
    }

    .quiqqer-order-ordering-buttons-backToShop {
        margin-bottom: 20px;
    }
}
