/** Order Process
 =================================================== */

.cologne-main .message-error {
    padding: 20px;
}

.quiqqer-order-basket-articles {
    width: 100%;
}

.quiqqer-order-basket-articles td {
    padding-bottom: 10px;
    vertical-align: top;
}

.quiqqer-order-basket-articles-header {
    color: #999999;
    font-size: 12px;
    line-height: 30px;
}

.quiqqer-order-basket-articles-article-pos {
    text-align: center;
    width: 100px;
}

.quiqqer-order-basket-articles-header-information {
    text-align: left;
}

.quiqqer-order-basket-articles-article-quantity {
    text-align: center;
}

.quiqqer-order-basket-articles-header-price,
.quiqqer-order-basket-articles-unitPrice,
.quiqqer-order-basket-articles-article-price,
.quiqqer-order-basket-articles-article-sum {
    text-align: right;
}

.quiqqer-order-basket-total {
    float: right;
    margin-top: 20px;
    text-align: right;
}

/** article content
 =========================================== */

.quiqqer-order-basket-articles-article-title {
    font-weight: bold;
}

.quiqqer-order-basket-articles-article-data ul {
    margin-left: 20px;
}
