/*********************************/
/* Featured Products List Simple */
/*********************************/
.featuredProducts-list-box-entries-entry-content-title {
    font-weight: 500 !important;
}

.featuredProducts-list-box-entries-entry-content-title {
    color: inherit;
}

/**************************************/
/* Product children slider (carousel) */
/**************************************/
.quiqqer-products-control-product-childrenslider-entry-image {
    height: 40% !important;
}

.quiqqer-products-control-product-childrenslider-entry .quiqqer-products-control-product-childrenslider-entry-price-retailPrice {
    opacity: 0.6;
}

.quiqqer-products-control-product-childrenslider-entry .quiqqer-products-control-product-childrenslider-entry-price-regularPrice {
    font-size: 1.2rem;
}