.type-quiqqer-products-types-category .cologne-main .grid-children-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.type-quiqqer-products-types-category .content-headerpage-multible-left {
    padding-left: 20px;
    padding-right: 20px;
}

.type-quiqqer-products-types-category .quiqqer-products-category {
    padding-left: 20px;
    padding-right: 20px;
}

/** Categories
 ============================================== */

.quiqqer-products-productList-categories .quiqqer-products-categoryGallery-categories {
    display: inline-grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    width: 100%;
}

/** Product list
 ============================================== */
/* list view buttons */
.quiqqer-products-productList-sort {
    align-items: center;
    border: none !important;
    display: flex !important;
    margin-bottom: 2em;
    overflow: visible !important;
}

.quiqqer-products-productList-sort-sorting .qui-select {
    margin: 0 !important;
}

.quiqqer-products-productList-sort-display {
    margin-left: auto;
}

.quiqqer-products-productList-sort .quiqqer-products-productList-sort-display .button {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0 !important;
    text-align: center;
    width: 40px;
}


.quiqqer-products-productList-products {
    float: none !important;
}

.quiqqer-product-list,
.quiqqer-products-productList-products-container {
    overflow: visible !important;
}

/* product list: gallery */
.quiqqer-product-list[data-qui-options-view="gallery"] .quiqqer-products-productList-products-container-real {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.cologne-products-productGallery-products-product {
    align-items: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    transition: 0.2s all;
}

.cologne-products-productGallery-products-product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cologne-products-productGallery-products-product-image {
    align-items: center;
    display: flex;
    flex-grow: 0;
    height: 150px;
    justify-content: center;
    margin-bottom: 2em;
    width: 100%;
}

.cologne-products-productGallery-products-product-image img {
    max-height: 100%;
}

.cologne-products-productGallery-products-product-title {
    font-size: 1.2rem;
    margin: 1em 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cologne-products-productGallery-products-product-price {
    font-weight: bold;
    margin: 1em 0;
}


.product-buttons {
    margin-top: auto;
}

.product-buttons label {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.product-buttons .fa {
    left: 0;
    line-height: inherit;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    width: 100%;
}

/* product list: details */
.cologne-productList-product-details {
    border: 1px solid #ddd;
    display: flex;
    margin-bottom: 20px;
    padding: 20px 0;
}

.cologne-productList-product-details-image {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    max-height: 160px;
    padding: 0 20px;
    width: 220px;
}

.cologne-productList-product-details-image a {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}

.cologne-productList-product-details-image img {
    max-height: 100%;
}

.cologne-productList-product-details-content-title a {
    color: inherit;
    font-size: 1.75em;
}

.cologne-productList-product-details-content-description {
    color: #9ba3ad;
    margin: 5px 0;
}

.cologne-productList-product-details-content-price {
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 10px;
}

.cologne-productList-product-details-content-buttons {
    margin-top: 1em;
}

/** Product
 ============================================== */

.quiqqer-order-button-add.product-data-more-tabs {
    border: none;
}
