.quiqqer-products-wrapper {
    display: flex;
    align-items: flex-start;
}

.quiqqer-product-sidebar {
    width: 30%;
    padding-left: 0;
}

.quiqqer-products-category,
.quiqqer-products-productsearch {
    width: 70%;
    padding-right: 0;
}

.type-quiqqer-products-types-category .quiqqer-products-category.full-width {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 767px) {
    .quiqqer-products-category,
    .quiqqer-products-productsearch {
        width: 100%;
        padding-left: 0;
    }
}

/****************/
/* left sidebar */
/****************/
.left-sidebar-filter-header {
    font-size: 1.5rem;
    font-weight: 400;
}

.left-sidebar-filter-header h2 {
    font-size: inherit;
}


/* menu */
.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-icon,
.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-checkbox {
    margin-right: 15px;
    padding: 5px 0;
    width: 15px;
}

.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-checkbox:hover {
    background: none;
}

.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-link {
    padding: 5px 0;
}

.quiqqer-products-category-menu-navigation-li-label-link {
    color: inherit;
}

.content-headerpage-multible-left .quiqqer-products-category-freetextSearch,
.content-headerpage-multible-left .quiqqer-products-category-menu {
    margin-bottom: 20px !important;
}

/* free text search */
.quiqqer-products-category-freetextSearch {
    display: flex;
}

.quiqqer-products-category-freetextSearch input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.quiqqer-products-category-freetextSearch button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.quiqqer-products-category-freetextSearch button .fa {
    margin: 0;
}

.quiqqer-products-search-form.quiqqer-products-category-freetextSearch [type="search"] {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
}

.quiqqer-products-search-form.quiqqer-products-category-freetextSearch button {
    width: 50px;
}

/**********/
/* Filter */
/**********/
.quiqqer-products-productList-filter-entry-title {
    font-size: 0.9rem !important;
    margin-bottom: 5px;
    padding: 0 10px;
}

/*****************/
/* Filter mobile */
.qui-window-filterWindow .qui-window-popup-title {
    background: none;
}

.qui-window-filterWindow .qui-window-popup-title-icon,
.qui-window-filterWindow .qui-window-popup-title-text {
    visibility: hidden;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header {
    border-bottom: none;
    clear: both;
    display: block;
    font-size: 1.5rem;
    font-weight: inherit;
    line-height: inherit;
    margin: 20px 0 10px;
    padding-bottom: 0;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header:first-child {
    margin-top: 0;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header h2 {
    font-size: inherit;
    margin-bottom: 0;
    text-align: left;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header h2:after {
    display: none;
}

.qui-window-popup .qui-window-popup-buttons.box button[name="cancel"] {
    background: none;
    border-color: #6c757d;
    color: #6c757d;
}

.qui-window-popup .qui-window-popup-buttons.box button[name="cancel"]:hover {
    background: #6c757d;
    color: #fff;
}

/******************/
/* Header & title */
/******************/
.page-content-header-emotion {
    background-position: center;
    background-size: cover;
}

.page-content-header-emotion-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    min-height: 250px;
    padding: 1em;
    text-shadow: 0 0 30px #333;
}

/* content */
.quiqqer-category-content {
    float: none !important;
    margin-bottom: 40px;
}

/** Categories
 ============================================== */
/* categories: gallery */
.cologne-products-categoryGallery-categories {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
}

.cologne-products-categoryGallery-category {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 1em;
    transition: 0.2s all;
}

.cologne-products-categoryGallery-category:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cologne-products-categoryGallery-category-image {
    height: 160px;
}

.cologne-products-categoryGallery-category-image-link {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 80px;
    height: 100%;
    justify-content: center;
}

.cologne-products-categoryGallery-category-image-link-img {
    max-height: 100%;
}

.cologne-products-categoryGallery-category-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cologne-products-categoryGallery-category-content-header {
    text-align: center;
}

.cologne-products-categoryGallery-category-content-short {
    margin-bottom: 1em;
}

.cologne-products-categoryGallery-category-content-buttonContainer {
    margin-top: auto;
    text-align: center;
}

/* categories: list */
.quiqqer-products-productList-categories .quiqqer-products-categoryList {
    margin-bottom: 20px;
}

.quiqqer-products-categoryList-category {
    color: inherit;
}

.quiqqer-products-categoryList .quiqqer-products-categoryList-category {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    transition: 0.2s all;
}

.quiqqer-products-categoryList-category:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiqqer-products-productList-categories .quiqqer-products-categoryList-category-more {
    max-width: 240px;
    width: auto;
}

/***********************/
/* product list filter */
/***********************/
.quiqqer-products-productList-fl {
    border-bottom: none !important;
    display: flex !important;
    position: relative;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-filterList-title {
    border-bottom: 1px solid #ddd;
    line-height: inherit;
    margin-bottom: 10px;
}

.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-text,
.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-clearbtn {
    width: auto;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-resultInfo {
    line-height: inherit;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-text,
.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-clearbtn {
    padding: 0 !important;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-filterList {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-filterList-fields {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.quiqqer-products-productList-filterList-fields .quiqqer-products-productList-filter {
    background: #fff;
    border-radius: 0.25em;
    color: inherit;
    float: left;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 0 0 0 10px;
}

.quiqqer-products-productList-filter .quiqqer-products-productList-filter-destroy {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 5px;
    padding: 0 10px;
}

.quiqqer-products-search-field .qui-select {
    width: 100%;
}

/** Product list
 ============================================== */
/* list view buttons */
.quiqqer-products-productList-sort {
    align-items: center;
    border: none !important;
    display: flex !important;
    margin-bottom: 2em;
    overflow: visible !important;
}

.quiqqer-products-productList-sort-sorting .qui-select {
    margin: 0 !important;
    padding: 0 10px;
}

/* filter button */
.quiqqer-products-productList-sort-filter {
    border: none !important;
    margin: 0 10px 0 0 !important;
}

.quiqqer-products-productList-products .quiqqer-products-productList-sort-filter .button {
    border: 1px solid #c9c8c5;
    border-radius: 0.25rem;
    height: 40px;
    line-height: 40px !important;
    padding: 0 10px !important;
}

.quiqqer-products-productList-sort-filter .fa-filter {
    margin-right: 10px;
}

.quiqqer-products-productList-sort-filter-opener {
    float: right;
    line-height: inherit !important;
    margin-left: 10px;
}

/* filter mobile button */
.quiqqer-products-productList-sort .quiqqer-products-productList-sort-filter-mobile {
    border: 1px solid #c9c8c5;
    border-radius: 0.25rem;
    height: 40px;
    line-height: 40px !important;
    margin: 0 10px 0 0 !important;
    text-align: center;
    width: 40px;
}

@media (max-width: 767px) {
    .quiqqer-products-productList-sort-filter {
        display: none;
    }
}

/* end filter button */

.quiqqer-products-productList-sort-display {
    margin-left: auto;
}

.quiqqer-products-productList-sort .quiqqer-products-productList-sort-display .button {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0 !important;
    text-align: center;
    width: 40px;
}


.quiqqer-products-productList-products {
    float: none !important;
}

.quiqqer-product-list {
    margin: 2em 0;
    position: relative;
    width: auto !important;
}

.quiqqer-product-list,
.quiqqer-products-productList-products-container {
    overflow: visible !important;
}

/* product list: gallery */
.quiqqer-product-list[data-qui-options-view="gallery"] .quiqqer-products-productList-products-container-real {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.quiqqer-product-list[data-qui-options-view="gallery"] .quiqqer-products-productList-products-container-real__noProducts {
    display: block;
}

.cologne-products-productGallery-products-product {
    align-items: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    transition: 0.2s all;
}

.cologne-products-productGallery-products-product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cologne-products-productGallery-products-product-image {
    align-items: center;
    display: flex;
    flex-grow: 0;
    height: 150px;
    justify-content: center;
    margin-bottom: 2em;
    width: 100%;
}

.cologne-products-productGallery-products-product-image img {
    max-height: 100%;
}

.cologne-products-productGallery-products-product-title {
    font-size: 1.2rem;
    margin: 1em 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cologne-products-productGallery-products-product-price {
    font-weight: bold;
    margin: 1em 0;
}

.product-buttons {
    margin-top: auto;
}

@media screen and (max-width: 767px) {
    .product-buttons {
        width: 100%;
    }

    .product-buttons .btn {
        display: block;
    }

    .cologne-products-productGallery-products-product-image {
        height: 120px !important;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 620px) {
    .cologne-products-productGallery-products-product-title {
        text-overflow: initial;
        white-space: initial;
    }

    .quiqqer-product-list[data-qui-options-view="gallery"] .quiqqer-products-productList-products-container-real {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    .quiqqer-product-list[data-qui-options-view="gallery"] .quiqqer-products-productList-products-container-real {
        grid-template-columns: auto;
    }
}

/* product list: details */
.cologne-productList-product-details {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.2s all;
}

.cologne-productList-product-details:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cologne-productList-product-details-image {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 20px;
    max-height: 160px;
    width: 200px;
}

.cologne-productList-product-details-image a {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}

.cologne-productList-product-details-image img {
    max-height: 100%;
}

.cologne-productList-product-details-content-title a {
    color: inherit;
    font-size: 1.75em;
    line-height: 1.2em;
}

.cologne-productList-product-details-content-description {
    margin: 5px 0;
}

.cologne-productList-product-details-content-price {
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 10px;
}

.cologne-productList-product-details-content-buttons {
    margin-top: 1em;
}

@media screen and (max-width: 767px) {
    .cologne-productList-product-details-image {
        width: 120px;
    }
}

@media screen and (max-width: 450px) {
    .cologne-productList-product-details {
        display: block;
    }

    .cologne-productList-product-details-image {
        float: none;
        margin: 0 auto 20px;
        max-height: initial;
    }

    .cologne-productList-product-details-content-buttons .btn {
        display: block;
    }
}

/* product list: list */
.quiqqer-productList-product-list:last-child {
    border-bottom: none;
}

.quiqqer-productList-product-list-text-link {
    color: inherit;
    display: block;
    font-size: 1.2em;
}

.quiqqer-productList-product-list .quiqqer-productList-product-list-artno,
.quiqqer-productList-product-list .quiqqer-productList-product-list-price {
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
    .quiqqer-productList-product-list {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto;
    }

    .quiqqer-productList-product-list-text,
    .quiqqer-productList-product-list-artno,
    .quiqqer-productList-product-list-price {
        width: 100% !important;
    }

    .quiqqer-productList-product-list-text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .quiqqer-productList-product-list .quiqqer-productList-product-list-artno {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 5px 0;
    }

    .quiqqer-productList-product-list .quiqqer-productList-product-list-price {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding: 0;
        text-align: left;
    }

    .quiqqer-productList-product-list .quiqqer-productList-product-list-buttons {
        grid-column: 2 / 3;
        width: auto;
    }
}

/*****************/
/* button "more" */
/*****************/
.quiqqer-products-productList-products-more .btn {
    margin: 2em 0 !important;
    width: auto !important;
}

/** Product
 ============================================== */

.quiqqer-order-button-add.product-data-more-tabs {
    border: none;
}

/*********************/
/* no products found */
/*********************/
.quiqqer-products-productList-sort__noProducts {
    grid-column: 1 / 4;
}
