/*********/
/* Price */
/*********/

/* Shipping button info */
.quiqqer-shipping-shippingInformation-btn,
.qui-products-price-display-vat {
    font-size: 0.875rem;
}

.qui-products-price-display-vat:not(:last-child) {
    margin-right: 0.5em;
}

.quiqqer-productList-product-list .qui-products-price-display-vat {
    margin-right: 0;
}

.quiqqer-products-wrapper {
    align-items: flex-start;
    display: flex;
}
/* Price end */

.quiqqer-product-sidebar {
    flex-shrink: 0;
    padding-left: 0;
    width: 30%;
}

@media screen and (min-width: 768px) {
    .quiqqer-product-sidebar {
        position: sticky;
        top: 60px;
    }
}

.quiqqer-products-category,
.quiqqer-products-productsearch,
.quiqqer-products-product {
    padding-right: 0;
    width: 100%;
}

.type-quiqqer-products-types-category .quiqqer-products-category.full-width,
.quiqqer-products-product.full-width {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

@media (max-width: 767px) {
    .quiqqer-products-category,
    .quiqqer-products-productsearch,
    .quiqqer-products-product {
        padding-left: 0;
        width: 100%;
    }
}

/****************/
/* left sidebar */
/****************/
.left-sidebar-filter-header {
    font-size: 1.5rem;
    font-weight: 400;
}

.left-sidebar-filter-header h2 {
    font-size: inherit;
}


/* menu */
.quiqqer-products-category-menu-navigation ul {
    width: auto !important;
}

.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-icon,
.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-checkbox {
    margin-right: 15px;
    padding: 5px 0;
    width: 15px;
}

.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-checkbox:hover {
    background: none;
}

.type-quiqqer-products-types-category .quiqqer-products-category-menu-navigation-li-label-link {
    padding: 5px 0;
}

.quiqqer-products-category-menu-navigation-li-label-link {
    color: inherit;
}

.quiqqer-products-category-freetextSearch {
    display: flex;
}

.content-headerpage-multible-left .quiqqer-products-category-freetextSearch,
.content-headerpage-multible-left .quiqqer-products-category-menu {
    margin-bottom: 20px !important;
}

/* free text search / product search*/
.quiqqer-products-search-form {
    display: flex;
}

.quiqqer-products-category-freetextSearch input,
.quiqqer-products-search-form input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.quiqqer-products-category-freetextSearch button,
.quiqqer-products-search-form button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.quiqqer-products-search-form button .fa {
    margin: 0;
}

/* product search with no filter */
.quiqqer-products-productsearch .quiqqer-products-search-form {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .quiqqer-products-productsearch .quiqqer-products-search-form {
        max-width: 500px;
    }
}

/**********/
/* Filter */
/**********/
.quiqqer-products-productList-filter-container .quiqqer-products-productList-filter-entry {
    margin-bottom: 1rem;
}

.quiqqer-products-productList-filter-entry label {
    cursor: pointer;
}

.quiqqer-products-productList-filter-entry-title,
.quiqqer-products-searchtype-checkboxList-label,
.quiqqer-products-searchtype-checkbox {
    font-size: 1rem !important;
    margin: 1rem 0 0.75rem;
    float: none !important;
    display: flex;
    cursor: pointer;
}

.quiqqer-products-productList-filter-entry-title {
    padding-left: 10px;
    padding-right: 10px;
}

.quiqqer-products-searchtype-checkboxList-label .quiqqer-products-searchtype-checkboxList-label-title,
.quiqqer-products-searchtype-checkbox .quiqqer-products-productList-filter-entry-title {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.quiqqer-products-searchtype-checkboxList-label,
.quiqqer-products-searchtype-checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.quiqqer-products-searchtype-checkboxList input[type="checkbox"],
.quiqqer-products-searchtype-checkbox input[type="checkbox"] {
    margin-top: 1px;
}

/*****************/
/* Filter mobile */
.qui-window-filterWindow .qui-window-popup-title {
    background: none;
}

.qui-window-filterWindow .qui-window-popup-title-icon,
.qui-window-filterWindow .qui-window-popup-title-text {
    visibility: hidden;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header {
    border-bottom: none;
    clear: both;
    display: block;
    font-size: 1.5rem;
    font-weight: inherit;
    line-height: inherit;
    margin: 20px 0 10px;
    padding-bottom: 0;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header:first-child {
    margin-top: 0;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header h2 {
    font-size: inherit;
    margin-bottom: 0;
    text-align: left;
}

.qui-window-popup .quiqqer-products-productList-filterMobile-content header h2:after {
    display: none;
}

.qui-window-popup .qui-window-popup-buttons.box button[name="cancel"] {
    background: none;
    border-color: #6c757d;
    color: #6c757d;
}

.qui-window-popup .qui-window-popup-buttons.box button[name="cancel"]:hover {
    background: #6c757d;
    color: #fff;
}

/******************/
/* Header & title */
/******************/
.page-content-header-emotion {
    background-position: center;
    background-size: cover;
}

.page-content-header-emotion-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    min-height: 250px;
    padding: 1em;
    text-shadow: 0 0 30px #333;
}

/* content */
.quiqqer-category-content {
    float: none !important;
    margin-bottom: 40px;
}

.quiqqer-category-content__hidden{
    position: relative;
}

.quiqqer-category-content-inner {
    overflow: hidden;
    position: relative;
}

.quiqqer-category-content-inner-body {
    overflow: auto;
}

.quiqqer-category-content-inner-body__bg {
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(0, #fff 10%, rgba(255,255,255,0));
    left: 0;
    bottom: 0;
}

.quiqqer-category-content-button {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -2rem;
}

/** Categories
 ============================================== */
/* categories: gallery */
/* manufacture list: gallery */
.cologne-products-categoryGallery-categories,
.quiqqer-products-manufacturerList-entries-container-real {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-bottom: 40px;
    width: 100%;
    background: #fff;
}

.quiqqer-products-manufacturerList-entries-container-real {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.cologne-products-categoryGallery-category,
.cologne-products-manufacturerList-entry {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 1em;
    transition: 0.2s all;
}

.cologne-products-categoryGallery-category:hover,
.cologne-products-manufacturerList-entry:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cologne-products-categoryGallery-category-image,
.cologne-products-manufacturerList-entry-image {
    height: 160px;
}

.cologne-products-categoryGallery-category-image-link,
.cologne-products-manufacturerList-entry-image-link {
    color: inherit;
    display: block;
    font-size: 80px;
    height: 100%;
    text-align: center;
}

.cologne-products-categoryGallery-category-image-link img,
.cologne-products-manufacturerList-entry-image-link img {
    font-size: initial;
    max-height: 100%;
}

.cologne-products-categoryGallery-category-content,
.cologne-products-manufacturerList-entry-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 1rem;
}

.cologne-products-categoryGallery-category-content-header,
.cologne-products-manufacturerList-entry-content-header {
    text-align: center;
}

.cologne-products-categoryGallery-category-content-header-title,
.cologne-products-manufacturerList-entry-content-header-title {
    font-size: 1.25rem;
}

.cologne-products-categoryGallery-category-content-short,
.cologne-products-manufacturerList-entry-content-short {
    margin-bottom: 1em;
}

.cologne-products-categoryGallery-category-content-buttonContainer,
.cologne-products-manufacturerList-entry-content-buttonContainer {
    margin-top: auto;
    text-align: center;
}

.quiqqer-products-manufacturerList-entries-container {
    margin-top: 1rem;
}

/* categories: list */
.quiqqer-products-productList-categories__bottom > .quiqqer-products-productList-categories-header {
    border-bottom: 1px solid #ddd;
    line-height: inherit;
    margin-bottom: 2rem;
}

.quiqqer-products-productList-categories .quiqqer-products-categoryList {
    margin-bottom: 20px;
}

.quiqqer-products-categoryList-category {
    color: inherit;
}

.quiqqer-products-categoryList .quiqqer-products-categoryList-category {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    transition: 0.2s all;
}

.quiqqer-products-categoryList-category:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiqqer-products-productList-categories .quiqqer-products-categoryList-category-more {
    max-width: 240px;
    width: auto;
}

/***********************/
/* product list filter */
/***********************/
.quiqqer-products-productList-fl {
    border-bottom: none !important;
    display: flex !important;
    position: relative;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-filterList-title {
    border-bottom: 1px solid #ddd;
    line-height: inherit;
    margin-bottom: 10px;
}

.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-text,
.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-clearbtn {
    width: auto;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-resultInfo {
    line-height: inherit;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-text,
.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-clearbtn {
    padding: 0 !important;
}

.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-text {
    margin-left: 1rem;
}

.quiqqer-products-productList-resultInfo .quiqqer-products-productList-resultInfo-clearbtn {
    cursor: pointer;
    font-size: 14px !important;
}

.quiqqer-products-productList-resultInfo-clearbtn:hover .fa {
    color: red;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-filterList {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.quiqqer-products-productList-fl .quiqqer-products-productList-filterList-fields {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.quiqqer-products-productList-filterList-list {
    display: flex;
}

.quiqqer-products-productList-filterList-fields .quiqqer-products-productList-filter,
.quiqqer-products-productList-filterList-list .quiqqer-products-productList-filter {
    border-radius: 0.25em;
    color: inherit;
    float: left;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 0 0 0 10px;
}

.quiqqer-products-productList-filter .quiqqer-products-productList-filter-destroy,
.quiqqer-products-productList-filterList-list .quiqqer-products-productList-filter-destroy {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 5px;
    padding: 0 10px;
}

.quiqqer-products-search-field .qui-select {
    width: 100%;
}

/** Product list
 ============================================== */
/* list view buttons */
.quiqqer-products-productList-sort {
    align-items: center;
    border: none !important;
    display: flex !important;
    margin-bottom: 2em;
    overflow: visible !important;
}

.quiqqer-products-productList-sort-sorting .qui-select {
    margin: 0 !important;
    padding: 0 10px;
}

/* filter button */
.quiqqer-products-productList-sort-filter {
    border: none !important;
    margin: 0 10px 0 0 !important;
}

.quiqqer-products-productList-products .quiqqer-products-productList-sort-filter .button {
    border: 1px solid #c9c8c5;
    border-radius: 0.25rem;
    height: 40px;
    line-height: 40px !important;
    padding: 0 10px !important;
}

.quiqqer-products-productList-sort-filter .fa-filter {
    margin-right: 10px;
}

.quiqqer-products-productList-sort-filter-opener {
    float: right;
    line-height: inherit !important;
    margin-left: 10px;
}

/* filter mobile button */
.quiqqer-products-productList-sort .quiqqer-products-productList-sort-filter-mobile {
    border: 1px solid #c9c8c5;
    border-radius: 0.25rem;
    height: 40px;
    line-height: 40px !important;
    margin: 0 10px 0 0 !important;
    text-align: center;
    width: 40px;
}

@media (max-width: 767px) {
    .quiqqer-products-productList-sort-filter {
        display: none;
    }
}

/* end filter button */

.quiqqer-products-productList-sort-display {
    margin-left: auto;
}

.quiqqer-products-productList-sort .quiqqer-products-productList-sort-display .button {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0 !important;
    text-align: center;
    width: 40px;
}

.quiqqer-product-list {
    margin: 2em 0;
    position: relative;
    width: 100% !important;
}

.quiqqer-product-list,
.quiqqer-products-productList-products-container {
    overflow: visible !important;
}

/* product list: gallery */
.quiqqer-product-list[data-qui-options-view="gallery"] .quiqqer-products-productList-products-container-real {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    width: 100%;
}

.quiqqer-product-list[data-qui-options-view="gallery"] .quiqqer-products-productList-products-container-real__noProducts {
    display: block;
}

.cologne-products-productGallery-products-product {
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    transition: 0.2s all;
}

.cologne-products-productGallery-products-product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cologne-products-productGallery-products-product-image {
    height: 150px;
    justify-content: center;
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
}

.cologne-products-productGallery-products-product-image img {
    height: auto;
    max-height: 100%;
    width: auto;
}

.cologne-products-productGallery-products-product-title {
    margin: 1em 0;
    max-width: 100%;
    text-align: center;
}

.cologne-products-productGallery-products-product-price {
    margin: auto 0 1em;
    text-align: center;
}

.cologne-products-productGallery-products-product-price-old {
    font-size: 0.85rem;
    text-decoration: line-through;
}

.cologne-products-productGallery-products-product-price-regular .qui-products-price-display-value {
    font-weight: bold;
}

.cologne-products-productGallery-products-product-price .qui-products-price-display {
    display: inline;
}

.cologne-products-productGallery-products-product-price-shippingTime {
    display: flex;
    margin: auto 0 1em;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.cologne-products-productGallery-products-product-price-shippingTime .product-data-fields-title {
    width: auto;
    margin-right: 10px;
}

.cologne-products-productGallery-products-product-price-shippingTime .product-data-fields-value {
    width: 100%;
}


@media screen and (max-width: 767px) {
    .quiqqer-products-control-product-childrenslider-entry-productButtons {
        width: 100%;
    }

    .quiqqer-products-control-product-childrenslider-entry-productButtons .btn {
        display: block;
    }

    .cologne-products-productGallery-products-product-image {
        height: 120px !important;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 620px) {
    .cologne-products-productGallery-products-product-title {
        text-overflow: initial;
        white-space: initial;
    }
}

/* product list: details */
.cologne-productList-product-details {
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.2s all;
}

.cologne-productList-product-details:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cologne-productList-product-details-image {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 20px;
    max-height: 160px;
    width: 200px;
}

.cologne-productList-product-details-image a {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}

.cologne-productList-product-details-image img {
    max-height: 100%;
}

.cologne-productList-product-details-content {
    width: 100%;
}

.cologne-productList-product-details-content-title a {
    color: inherit;
    font-size: 1.5em;
    line-height: 1.2em;
}

.cologne-productList-product-details-content-description {
    margin: 5px 0;
}

.cologne-productList-product-details-content-price {
    margin-top: 1rem;
}

.cologne-productList-product-details-content-old {
    text-decoration: line-through;
    font-size: 0.9rem;
}

.cologne-productList-product-details-content-regular .qui-products-price-display-value {
    font-size: 1.2em;
    font-weight: bold;
}

.cologne-productList-product-details-content-price .qui-products-price-display {
    display: inline;
}

.cologne-productList-product-details-content-price .candyman-qui-products-price-display {
    display: inline;
}

.cologne-productList-product-details-content-shippingTime {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.cologne-productList-product-details-content-shippingTime .product-data-fields-title {
    width: auto;
    margin-right: 10px;
}

.cologne-productList-product-details-content-stock .product-data-fields-value {
    width: 100%;
}

.cologne-productList-product-details-content-buttons {
    border-top: 1px solid #ddd;
    margin-top: 1rem;
    padding-top: 1.5rem;
}

@media screen and (max-width: 767px) {
    .cologne-productList-product-details-image {
        width: 120px;
    }
}

@media screen and (max-width: 450px) {
    .cologne-productList-product-details {
        display: block;
    }

    .cologne-productList-product-details-image {
        float: none;
        margin: 0 auto 20px;
        max-height: initial;
    }

    .cologne-productList-product-details-content-buttons .btn {
        display: block;
        margin-bottom: 1rem;
    }

    .cologne-productList-product-details-content-buttons .btn:last-child {
        margin-bottom: 0;
    }
}

/* product list: list */
.quiqqer-productList-product-list {
    cursor: pointer;
}

.quiqqer-productList-product-list:last-child {
    border-bottom: none;
}

.quiqqer-productList-product-list-text-link {
    color: inherit;
    display: block;
    font-size: 1.2em;
}

.quiqqer-productList-product-list-price-old {
    font-weight: normal;
    font-size: 0.85rem;
    text-decoration: line-through;
}

.quiqqer-productList-product-list .quiqqer-productList-product-list-artno,
.quiqqer-productList-product-list .quiqqer-productList-product-list-price {
    padding: 0 10px;
}

.quiqqer-productList-product-list-price .qui-products-price-display {
    display: inline;
}

.quiqqer-productList-product-list-text-shippingTime {
    display: flex;
    margin-top: 5px;
    width: 100%;
}

.quiqqer-productList-product-list-text-shippingTime .product-data-fields-title {
    width: auto;
    margin-right: 10px;
}

.quiqqer-productList-product-list-text-shippingTime .product-data-fields-value {
    width: 100%;
}

.quiqqer-productList-product-list-buttons > a {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

@media screen and (max-width: 767px) {
    .quiqqer-productList-product-list {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto;
    }

    .quiqqer-productList-product-list-text,
    .quiqqer-productList-product-list-artno,
    .quiqqer-productList-product-list-price {
        width: 100% !important;
    }

    .quiqqer-productList-product-list-text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .quiqqer-productList-product-list .quiqqer-productList-product-list-artno {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 5px 0;
    }

    .quiqqer-productList-product-list .quiqqer-productList-product-list-price {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding: 0;
        text-align: left;
    }

    .quiqqer-productList-product-list .quiqqer-productList-product-list-buttons {
        grid-column: 2 / 3;
        width: auto;
    }
}

/*****************/
/* button "more" */
/*****************/
.quiqqer-products-productList-products-more .btn {
    margin: 2em 0 !important;
    width: auto !important;
}

/** Product
 ============================================== */

.quiqqer-order-button-add.product-data-more-tabs {
    border: none;
}

/*********************/
/* no products found */
/*********************/
.quiqqer-products-productList-sort__noProducts {
    grid-column: 1 / 4;
}


/***********/
/* Product */
/***********/

.product-gallery {
    margin: 2rem 0;
    padding-right: 20px !important;
}

/* Gallery */
.product-gallery .quiqqer-gallery-slider {
    border: none !important;
}

.product-gallery .quiqqer-gallery-slider-control {
    height: 100%;
}

.product-gallery .quiqqer-gallery-slider-image {
    cursor: zoom-in;
    max-height: 100%;
}

.product-gallery .quiqqer-gallery-slider-prev,
.product-gallery .quiqqer-gallery-slider-next,
.product-gallery .quiqqer-gallery-slider-controls {
    display: none;
}

.product-gallery .quiqqer-gallery-slider-previewOutside .quiqqer-gallery-slider-content {
    height: calc(100% - 90px)
}

.product-gallery .quiqqer-gallery-slider-previews {
    margin-top: 10px;
}

.product-gallery .quiqqer-gallery-slider-previews-prev,
.product-gallery .quiqqer-gallery-slider-previews-next {
    height: 70px;
    line-height: 70px;
}

.product-gallery .quiqqer-gallery-slider-previews-container {
    height: 70px;
}

.product-gallery .quiqqer-gallery-slider-previews-entry {
    border: 2px solid #ddd;
    border-radius: 3px;
    height: 70px;
    margin-right: 10px;
    padding: 5px;
    transition: 0.30s border-color;
}

.product-gallery .quiqqer-gallery-slider-active-preview {
    border-color: #666;
    opacity: 1;
}

.product-gallery .quiqqer-gallery-slider-previews-container img {
    height: 55px
}

/* product data */
.quiqqer-products-product .product-data {
    margin: 0 0 2rem;
    padding-left: 20px;
}

.product-data .page-content-header h1 {
    margin-bottom: 5px;
}

.product-data .page-content-header h1:before {
    content: ' ';
    float: right;
    height: 5px;
    width: 30px;
}

.quiqqer-products-product .product-close-button {
    font-size: 2rem;
    line-height: 1;
    text-align: right;
    width: 30px;
    margin-top: 2rem;
}

.product-data .product-data-price:not(:first-child) {
    margin-top: 3rem;
}

.product-data .product-data-price .qui-products-price-display {
    text-align: left;
}

.product-data .product-data-price .qui-products-price-display-value {
    line-height: inherit;
    display: inline;
}

/* retail price */
.product-data-price .product-data-price-retail .qui-products-price-display-value {
    font-size: 1.3em;
    display: block;
    text-decoration: line-through;
}

.product-data-price-retail br {
    display: none;
}

/* price */
.product-data .product-data-price {
    border-top: none;
    padding: 0 0 20px;
}

.product-data-price .qui-products-price-display-vat {
    text-align: left;
}

/******************/
/* Product field  */
/******************/
.product-data .product-data-fieldlist {
    border-top: none;
    display: flex;
    flex-wrap: wrap;

    margin-left: -20px; /* workaround to keep spacing  */
    width: calc(100% + 20px); /* after entry auto jumping in the next row */
}

/* workaround to set width of the last element to 50% */
/* it works only with 2 elements pro row */
.product-data-fieldlist__product-data-fieldlist__multiple:after {
    content: '1';
    flex-grow: 1;
    height: 0;
    margin-left: 20px;
    min-width: 160px;
    visibility: hidden;
    width: calc(50% - 20px);
}

.product-data .product-data-fieldlist .quiqqer-product-field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    min-width: 160px;
    width: calc(50% - 20px);
}

.product-data .product-data-fieldlist .quiqqer-product-field:nth-child(2n) {
    margin-right: 0;
}

.product-data-fieldlist .quiqqer-product-field-title {
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding: 0 10px;
}

.quiqqer-product-field-value {
    min-width: 140px;
}

.quiqqer-product-field-value input {
    margin-top: 1rem;
}

.product-data-fieldlist .quiqqer-product-field-title,
.product-data-fieldlist .quiqqer-product-field-value {
    width: 100% !important;
}

/* product bricks */
.template-brick-productCategoryPrefix,
.template-brick-productCategorySuffix {
    clear: both;
    float: none;
    margin: 2rem 0;
}

/* product data fields */
.product-data .product-data-fields {
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.product-data-fields .product-data-fields-title {
    width: 30%;
}

.product-data-fields .product-data-fields-value {
    padding-left: 20px;
    flex-grow: 1;
}

.product-data-fieldlist .product-data-fieldlist-reset {
    margin-left: auto;
    padding: 0.5rem 0;
    width: 100%;
}

.product-data-fieldlist .product-data-fieldlist-reset:hover {
    background: none;
}

/* button add to basket */
.product-data-actionButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product-data-actionButtons-buyNow {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 0;
    position: relative;
}

.product-data-actionButtons-buyNow button {
    background: #f28f09;
    border: 1px solid #f28f09;
    color: #fef4e5;
    flex-grow: 1;
    margin: 0 0 0 20px;
    min-width: 150px;
    position: relative;
}

.product-data-actionButtons-buyNow button:hover {
    background: #f2782f;
    border: 1px solid #f2782f;
    color: #fef4e5;
}


.product-data-actionButtons-buyNow-placeholder {
    float: left;
    margin: 0 0 0 20px;
    width: 45%;
}

.product-data-actionButtons-buyNow button[disabled]:hover .add-to-basket-text {
    cursor: not-allowed;
}

.product-data .quiqqer-order-button-add {
    align-items: flex-end;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 0;
    width: 100%;
}

.quiqqer-order-button-add-quantity-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 0 !important;
    width: 45%;
}

.quiqqer-order-button-add-quantity-wrapper .quiqqer-order-button-add-quantity {
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.quiqqer-order-button-add-quantity {
    border: 1px solid #c9c8c5;
    border-radius: 0.25rem;
}

.quiqqer-order-button-add-quantity-label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding: 0 10px;
}

.quiqqer-order-button-add .add-to-basket {
    flex-grow: 1;
    margin: 20px 0 0 20px;
    min-width: 150px;
}

.quiqqer-order-button-add .add-to-basket:disabled label {
    cursor: not-allowed;
}

.quiqqer-order-button-add.disabled .quiqqer-order-button-add-quantity {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}


.quiqqer-order-button-add .disable-spins .quiqqer-order-button-add-quantity-input {
    height: auto;
    width: 40px;
}

.quiqqer-order-button-add .quiqqer-order-button-add-quantity-input {
    border: none;
    outline: none;
    padding: initial;
}

.quiqqer-order-button-add-quantity-decrease,
.quiqqer-order-button-add-quantity-increase {
    border-radius: 0;
}

.quiqqer-order-button-add-quantity-decrease:hover,
.quiqqer-order-button-add-quantity-increase:hover {
    background: #eee;
    color: inherit;
}

/* product data more */
article .product-data-more {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.product-data-more-tabsContainer .product-data-more-tabs {
    border-bottom: 1px solid #ddd;
    min-width: 100%;
    width: auto;
}

li.product-data-more-tabs-tab {
    background: #fff;
    border-color: transparent;
    margin-bottom: -1px;
    outline: none;
}

li.product-data-more-tabs-tab.active {
    border: 1px solid #ddd;
    border-bottom-color: #fff;
    color: inherit;
}

.product-data-more-tabs-tab a {
    color: inherit;
}

.product-data-more .product-data-more-sheets {
    background: #fff;
    border-color: #ddd;
    border-top: none;
}

@media screen and (max-width: 767px) {
    .quiqqer-products-product .product-data {
        padding-left: 0;
    }

    .product-data .quiqqer-order-button-add {
        width: 100%;
    }
}

/****************/
/* Product list */
/****************/
.quiqqer-product-card {
    border-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: 0.2s all;
}

.quiqqer-product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiqqer-product-card-content-data {
    font-size: 0.75rem;
    font-weight: normal;
}

.product-productsList {
    clear: both;
    margin: 20px 0;
}

.product-productsList header {
    padding-bottom: 20px;
}

.product-productsList header h1 {
    font-size: 2rem;
}

/********************/
/* Visited Products */
/********************/
.quiqqer-products-control-visitedProducts .quiqqer-bricks-children-slider-child,
.product-similar-products .quiqqer-bricks-children-slider-child,
.product-equipment-products .quiqqer-bricks-children-slider-child {
    width: calc(100% / 3 + 3px);
}

@media screen and (max-width: 1000px) {
    .quiqqer-products-control-visitedProducts .quiqqer-bricks-children-slider-child,
    .product-similar-products .quiqqer-bricks-children-slider-child,
    .product-equipment-products .quiqqer-bricks-children-slider-child {
        width: calc(100% / 2 + 2px);
    }
}

@media screen and (max-width: 767px) {
    .quiqqer-products-control-visitedProducts .quiqqer-bricks-children-slider-child,
    .product-similar-products .quiqqer-bricks-children-slider-child,
    .product-equipment-products .quiqqer-bricks-children-slider-child {
        width: 50%;
        max-width: 270px;
    }
}