* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* maven-pro-regular - latin */
@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/maven-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Maven Pro Regular'), local('MavenPro-Regular'),
    url('../fonts/maven-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/maven-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/maven-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/maven-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/maven-pro-v11-latin-regular.svg#MavenPro') format('svg'); /* Legacy iOS */
}

/* maven-pro-700 - latin */
@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/maven-pro-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Maven Pro Bold'), local('MavenPro-Bold'),
    url('../fonts/maven-pro-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/maven-pro-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/maven-pro-v11-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/maven-pro-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/maven-pro-v11-latin-700.svg#MavenPro') format('svg'); /* Legacy iOS */
}

/* maven-pro-500 - latin */
@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/maven-pro-v11-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Maven Pro Medium'), local('MavenPro-Medium'),
    url('../fonts/maven-pro-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/maven-pro-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/maven-pro-v11-latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/maven-pro-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/maven-pro-v11-latin-500.svg#MavenPro') format('svg'); /* Legacy iOS */
}

.grid-children {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.template-children-container,
.grid-children-container {
    left: -20px;
    position: relative;
    width: calc(100% + 40px);
}

html {
    background: #ffffff;
    font-size: 14px;
}

body {
    background: #ffffff;
    color: #606975;
    font-family: 'Maven Pro', Verdana, sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.45;
    margin: 0;
    overflow-x: hidden;
    position: relative; /* fix -> context menu */
    width: 100%;
}

body.header-fixed {
    padding-top: 80px;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3.157em;
    margin-top: 0;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

ul, ol {
    line-height: 1.8;
    margin-bottom: 16px;
    margin-top: 0;
    padding-left: 18px;
}

small, .font_small, .font-small {
    font-size: 0.75em;
}

img {
    max-width: 100%;
}

.html5tooltip-box {
    background-color: #423d3d;
    border-radius: 5px;
    color: #F7F7F7;
    cursor: default;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
}

.text-muted {
    color: #9ba3ad;
}

.text-small,
.small,
small {
    font-size: 0.9em;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: 700;
}

/* input range */
.qui-control-input-range {
    margin-top: 1em;
}

.qui-control-input-range .noUi-horizontal {
    height: 12px;
}

.qui-control-input-range .noUi-horizontal .noUi-handle {
    height: 26px;
    top: -8px;
}

.qui-control-input-range-text {
    margin-top: 1em;
}

/**********/
/* Header */
/**********/
.page-header {
    background-size: cover;
}

.page-header-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    padding: 1em;
    text-shadow: 0 0 30px #333;
}

/**********/
/* Helper */
/**********/

.hide-on-desktop {
    display: inline-block;
}

.hide-on-mobile {
    display: none;
}

@media (min-width: 768px) {
    .hide-on-desktop {
        display: none;
    }

    .hide-on-mobile {
        display: inline-block;
    }
}

/** grid
 ===================================== */

.template-columns {
    display: flex;
}

.template-column {
    padding-left: 20px;
    padding-right: 20px;
}

.start-page .template-grid-row{
    margin-bottom: 5em;
    margin-top: 5em;
}

.page-content-header,
.content-body,
.template-grid-row {
    margin-bottom: 2em;
    margin-top: 2em;
}

.start-page .template-grid-row{
    margin-bottom: 5em;
    margin-top: 5em;
}

.template-grid-row.brick-no-padding,
.start-page .template-grid-row.brick-no-padding {
    margin-bottom: 0;
    margin-top: 0;
}

.template-grid-container,
.cologne-grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
}

.template-grid-container.brick-full-width {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.brick-full-width .control-header,
.brick-full-width .control-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* divider */
.section-divider {
    border-bottom: 1px solid #e8e8e8;
}

/**********/
/* Layouts*/
/**********/
/* left sidebar */
.layout-left-sidebar {
    display: flex;
    align-items: flex-start;
}

.layout-left-sidebar .page-multiple-left {
    order: 2;
    width: 30%;
}

.layout-left-sidebar .page-multiple-right {
    order: 1;
    width: 70%;
}

/* right sidebar */
.layout-right-sidebar {
    display: flex;
    align-items: flex-start;
}

.layout-right-sidebar .page-multiple-left {
    width: 70%;
    padding-left: 0;
}

.layout-right-sidebar .page-multiple-right {
    width: 30%;
    padding-right: 0;
}


/** brick header & content
 ===================================== */

.control-header {
    margin-bottom: 3rem;
}

.control-header h1 {
    font-size: 2.369em;
    margin: 0;
    text-align: center;
}

.control-content {
    margin: 0 0 3rem;
}

/** topbar
 ===================================== */

.topbar {
    align-items: center;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-fixed .topbar {
    /*margin-bottom: 80px;*/
}

.topbar-left {
    align-items: center;
    display: flex;
}

.topbar-contact-mail,
.topbar-phone {
    margin-right: 20px;
}

.topbar-social {
    display: flex;
}

.topbar-social-link {
    color: inherit;
    display: block;
    height: 2em;
    text-align: center;
    width: 2em;
}

.topbar-social-link .fa {
    line-height: 2em; /* vertical align */
}

.topbar-right {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.topbar-mobile-menu {
    padding: 0 10px;
    width: 100%;
}

.topbar-mobile-logo {
    height: 100%;
    padding: 5px 0 5px 20px;
}

.topbar-mobile-logo img {
    max-height: 100%;
}

@media (min-width: 768px) {
    .topbar-mobile-menu {
        padding: 0 6px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .topbar {
        border-bottom: none;
    }
}

/** header
 ===================================== */

.cologne-header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 20px 0 rgba(57, 57, 57, 0);
    display: flex;
    height: 80px;
    justify-content: space-between;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 50;
}

.cologne-header-fixed {
    box-shadow: 0 0 20px 0 rgba(57, 57, 57, 0.2);
    position: fixed;
}

.cologne-header-logo {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 2;
}

.cologne-header-logo-link {
    align-items: center;
    display: flex;
    height: 100%;
}

.cologne-header-logo-link img {
    max-height: 40px;
    min-width: 40px;
}

.cologne-breadcrumb {
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    height: 100px;
    width: 100%;
}

.cologne-breadcrumb-wrapper {
    height: 100%;
}

.cologne-breadcrumb .quiqqer-breadcrumb-title {
    display: none;
}

.cologne-breadcrumb li:first-child .fa {
    display: none;
}

@media (max-width: 768px) {
    .cologne-header {
        border-top: 1px solid #ddd;
    }
}

/** Page title & breadcrumb
 ===================================== */

.page-title {
    flex-shrink: 0;
    font-size: 2em;
    margin: 0;
}

.cologne-breadcrumb .cologne-grid-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.quiqqer-breadcrumb ul li {
    color: #9ba3ad;
}

.quiqqer-breadcrumb ul li:last-child {
    color: inherit;
}

.quiqqer-breadcrumb-link {
    color: inherit;
}

.quiqqer-breadcrumb {
    text-align: right;
}

@media (max-width: 768px) {
    .cologne-breadcrumb {
        height: initial;
    }

    .cologne-breadcrumb .cologne-grid-container {
        flex-direction: column;
        height: initial;
        width: 100%;
    }

    .cologne-breadcrumb h1 {
        flex: 1 auto;
        line-height: 1em;
        padding-top: 10px;
        width: 100%;
    }
}

/** main
 ===================================== */

/* das ist von hen, @ micheal wenn du willst kannst du das weg tun, habe nur abstände gebraucht */
.cologne-main {
    width: 100%;
}

.content-headerpage-multible-left header:first-child h1,
.content-headerpage-multible-left header:first-child h2,
.content-headerpage-multible-left header:first-child h3,
.content-headerpage-multible-left header:first-child h4 {
    margin-top: 0;
}

/** footer
 ===================================== */

.template-footer {
    background: #f8f8f8;
    clear: both;
    float: none;
    padding: 1em 0;
}

/** Mega Menu
 ===================================== */

.cologne-header-nav {
    /*position: absolute;*/
    height: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.cologne-header-nav .quiqqer-menu-megaMenu {
    font-weight: 500;
    position: initial;
}

.quiqqer-menu-megaMenu a {
    color: inherit;
    text-decoration: none;
}

.quiqqer-menu-megaMenu,
.quiqqer-menu-megaMenu nav,
.quiqqer-menu-megaMenu-list,
.quiqqer-menu-megaMenu-list-item {
    height: 100%;
}

/* 1 level menu entries */
.quiqqer-menu-megaMenu-list .quiqqer-menu-megaMenu-list-item {
    padding: 0 !important;
}

.quiqqer-menu-megaMenu-list-item .fa {
    margin-left: 5px;
}

.quiqqer-menu-megaMenu-list-item a {
    align-items: center;
    display: flex !important;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}

.quiqqer-menu-megaMenu-list-item.quiqqer-menu-megaMenu-list-item--current a {
    border-bottom: 3px solid;
    position: relative;
    top: 1px;
}

.quiqqer-menu-megaMenu-list-item-menu {
    background: #fff;
    border: 1px solid #e1e7ec;
    box-shadow: 0 7px 22px -5px rgba(48, 60, 72, 0.2) !important;
    line-height: 1.5;
    max-width: 100% !important;
    min-width: 200px;
    text-align: left;
    z-index: 100;
}

.quiqqer-menu-megaMenu-list-item-menu li {
    text-align: left;
}

.quiqqer-menu-megaMenu-list-item-simple {
    border: 1px solid black !important;
}

/* style: image */
.quiqqer-menu-megaMenu-children-image-entry-title {
    font-weight: bold;
    text-align: center;
}

.quiqqer-menu-megaMenu-children-image-entry-img {
    transition: 0.2s box-shadow ease-in-out;
}

.quiqqer-menu-megaMenu-children-image-entry a:hover .quiqqer-menu-megaMenu-children-image-entry-img {
    box-shadow: 0 7px 22px -5px rgba(48, 60, 72, 0.2);
}

/* style: simple */
.quiqqer-menu-megaMenu-children-simple {
    width: 100% !important;
}

.quiqqer-menu-megaMenu-children-simple-entry {
    border-bottom: none !important;
}

/* user & basket container */

.cologne-header-control {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 2;
}

.cologne-header-control-basket {
    width: 200px;
}

.tpl-btn.quiqqer-order-basketButton {
    background: none;
    border: 1px solid #ddd;
    color: #616a76;
    padding: 10px 20px;
}

.tpl-btn.quiqqer-order-basketButton:hover,
.tpl-btn.quiqqer-order-basketButton:focus,
.tpl-btn.quiqqer-order-basketButton:active {
    background: #f5f5f5;
}

.quiqqer-order-basketButton-icon-custom {
    margin-right: 10px;
}

.quiqqer-order-basketButton-batch-custom {
    margin-right: 10px;
}

.quiqqer-order-basketButton-batch.quiqqer-order-basketButton-batch-custom {
    background: none;
    color: inherit;
    display: inline-block;
    min-width: 2em;
    position: initial;
}

.quiqqer-order-basketButton-sum {
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

.quiqqer-order-basket-small-container {
    width: 260px;
}

.quiqqer-frontendUsers-userIcon {
    border-radius: 100px;
    box-shadow: 0 0 0 1px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.quiqqer-frontendUsers-userIcon-icon {
    height: 100% !important;
    width: 100% !important;
}

.qui-contextmenu-container .qui-contextitem {
    border-bottom: none;
}

/*********************/
/* user icon top bar */
/*********************/
.cologne-header-control-user {
    cursor: pointer;
    margin: 0 20px;
    position: relative;
}

.cologne-header-control-user-loader {
    align-items: center;
    background: #fff;
    border-radius: 100%;
    cursor: default;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cologne-header-control-user .fa-user-o {
    border-radius: 100px;
    box-shadow: 0 0 0 1px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}


/*********/
/* Popup */
/*********/
.qui-window-popup-title-close {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: center;
    line-height: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.qui-window-popup-buttons.box {
    background: none;
    height: auto !important;
    padding: 20px 0;
}

.qui-window-popup-buttons.box button {
    margin: 0 15px;
}

.qui-window-popup-buttons:after {
    display: none;
}

@media screen and (max-width: 767px) {
    .qui-window-popup-buttons.box button {
        display: block !important;
        margin: 10px 20px;
        width: calc(100% - 40px);
    }
}

/** Login / logout popup
 ===================================== */
/* login */
/* show close button */
.cologne-logout-dialog .qui-window-popup-title,
.cologne-login-dialog .qui-window-popup-title {
    background: none !important;
    display: block !important;
    padding: 0 !important;
}

.cologne-logout-dialog .qui-window-popup-title-close,
.cologne-login-dialog .qui-window-popup-title-close {
    align-items: center;
    border-radius: 0;
    color: inherit;
    display: flex;
    font-size: 1.5em !important;
    justify-content: center;
    line-height: 0 !important;
    padding: 0 !important;
    position: relative !important;
}

/* logo image */
.quiqqer-login-logo {
    margin-bottom: 2em !important;
    margin-top: 0.5em !important;
    max-height: 100px;
    max-width: calc(100% - 100px);
}

.quiqqer-login {
    padding: 20px 40px !important;
}

/* label */
.quiqqer-login-auth label {
    margin-bottom: 20px !important;
}

/* disable ugly autofill background */
.quiqqer-login-auth input {
    box-shadow: 0 0 0 30px #fff inset;
}

/*
 because of disabling autofill background
 :focus is simulated by box.shadow
 */
input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 0 30px #f5f5f5 inset;
}

/* submit button */
.quiqqer-login-auth [type="submit"] {
    float: right;
    min-width: 100px;
}

/* custom title */
.quiqqer-loginWindow-content-title,
.qui-window-popup h2 {
    margin-bottom: 1em;
    margin-top: 0;
    position: relative;
    text-align: center;
}

.quiqqer-loginWindow-content-title:after,
.qui-window-popup h2:after {
    background: #3986dd;
    bottom: -10px;
    content: '';
    height: 2px;
    left: calc(50% - 40px);
    position: absolute;
    width: 80px;
}

/* logout */
.cologne-logout-dialog .qui-window-popup {
    display: flex;
    flex-direction: column;
}

.cologne-logout-dialog .qui-window-popup-content {
    padding-top: 0 !important;
}

.cologne-logout-dialog .submit-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cologne-logout-dialog .submit-body .textbody {
    width: 100% !important;
}

.cologne-logout-dialog .qui-window-popup-content .texticon {
    float: none !important;
    margin: 0 auto 30px !important;
}

/** Product Children Slider (horizontal)
 ===================================== */
ul.quiqqer-bricks-children-slider-container-slide {
    padding: 10px 0 !important;
}

.quiqqer-bricks-children-slider-container-slide .quiqqer-products-control-product-childrenslider-entry {
    border-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: 0.2s all;
}

.quiqqer-bricks-children-slider-container-slide .quiqqer-products-control-product-childrenslider-entry:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiqqer-bricks-children-slider-container-slide .quiqqer-bricks-children-slider-child-display img:hover {
    -webkit-transform: none;
    transform: none;
}

.brick-full-width .quiqqer-bricks-children-slider-container-slide .quiqqer-products-control-product-childrenslider-entry:first-child {
    margin: 0 5px 0 5px;
}

.brick-full-width .quiqqer-bricks-children-slider-child:first-child .quiqqer-products-control-product-childrenslider-entry:first-child {
    margin-left: 20px;
}

.brick-full-width .quiqqer-bricks-children-slider-child:last-child .quiqqer-products-control-product-childrenslider-entry:first-child {
    margin-right: 20px;
}

/* nav arrows */
.quiqqer-bricks-children-slider-container-wrapper .quiqqer-bricks-children-slider-prev,
.quiqqer-bricks-children-slider-container-wrapper .quiqqer-bricks-children-slider-next {
    height: calc(100% - 22px) !important;
    margin: 10px 0;
}

/***********/
/* Product */
/***********/

.product-gallery {
    padding-right: 40px !important;
}

/* Gallery */
.product-gallery .quiqqer-gallery-slider {
    border: none !important;
}

.product-gallery .quiqqer-gallery-slider-control {
    height: 100%;
}

.product-gallery .quiqqer-gallery-slider-image {
    cursor: zoom-in;
    max-height: 100%;
}

.product-gallery .quiqqer-gallery-slider-prev,
.product-gallery .quiqqer-gallery-slider-next,
.product-gallery .quiqqer-gallery-slider-controls {
    display: none;
}

.product-gallery .quiqqer-gallery-slider-previewOutside .quiqqer-gallery-slider-content {
    height: calc(100% - 90px)
}

.product-gallery .quiqqer-gallery-slider-previews {
    margin-top: 10px;
}

.product-gallery .quiqqer-gallery-slider-previews-prev,
.product-gallery .quiqqer-gallery-slider-previews-next {
    height: 70px;
    line-height: 70px;
}

.product-gallery .quiqqer-gallery-slider-previews-container {
    height: 70px;
}

.product-gallery .quiqqer-gallery-slider-previews-entry {
    border: 2px solid #ddd;
    border-radius: 3px;
    height: 70px;
    margin-right: 10px;
    padding: 5px;
    transition: 0.30s border-color;
}

.product-gallery .quiqqer-gallery-slider-active-preview {
    border-color: #666;
    opacity: 1;
}

.product-gallery .quiqqer-gallery-slider-previews-container img {
    height: 55px
}

/* product data */
.product-data {
    padding-left: 40px !important;
}

.product-data .page-content-header h1 {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.product-data .page-content-header h1:before {
    content: ' ';
    float: right;
    height: 5px;
    width: 30px;
}

.quiqqer-products-product .product-close-button {
    font-size: 1.8em;
    line-height: 30px;
    text-align: right;
    width: 30px;
}

/* retail price */
.product-data-price-retail .qui-products-price-display {
    font-size: 1.3em;
    text-decoration: line-through;
}

/* price */
.product-data .product-data-price {
    border-top: none;
    padding: 0 0 20px;
}

.product-data-price .qui-products-price-display-value {
    color: inherit;
    float: none;
    font-size: 3rem;
    font-weight: normal;
    line-height: normal;
}

.product-data-price .qui-products-price-display-vat {
    text-align: left;
}

/* product field (Auswahllisten) */
.product-data .product-data-fieldlist {
    border-top: none;
    display: flex;
}

.product-data .product-data-fieldlist .quiqqer-product-field {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: auto;
}

.product-data-fieldlist .quiqqer-product-field-title {
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding: 0 10px;
}

.quiqqer-product-field-value {
    min-width: 140px;
}

/* product data fields */
.product-data .product-data-fields {
    border-top: none;
}

/* button add to basket */
.product-data-actionButtons {
    border-top: 1px solid #f1f1f1;
    display: flex;
    justify-content: flex-end;
}

.product-data .quiqqer-order-button-add {
    align-items: flex-end;
    display: flex;
    padding: 0;
}

.quiqqer-order-button-add-quantity-wrapper {
    display: flex;
    flex-direction: column;
}

.quiqqer-order-button-add-quantity {
    border: 1px solid #c9c8c5;
    border-radius: 0.25rem;
}

.quiqqer-order-button-add-quantity-label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding: 0 10px;
}

.quiqqer-order-button-add .disable-spins .quiqqer-order-button-add-quantity-input {
    height: auto;
    width: 40px;
}

.quiqqer-order-button-add .quiqqer-order-button-add-quantity-input {
    border: none;
    outline: none;
    padding: initial;
}

.quiqqer-order-button-add-quantity-decrease,
.quiqqer-order-button-add-quantity-increase {
    border-radius: 0;
}

.quiqqer-order-button-add-quantity-decrease:hover,
.quiqqer-order-button-add-quantity-increase:hover {
    background: #eee;
    color: inherit;
}

.quiqqer-order-button-add-loader {
    font-size: 2rem !important;
}

/* product data more */
.product-data-more-tabs {
    border-bottom: 1px solid #f1f1f1;
}

li.product-data-more-tabs-tab {
    background: #fff;
    border-color: transparent;
    margin-bottom: -1px;
    outline: none;
}

li.product-data-more-tabs-tab.active {
    border: 1px solid #f1f1f1;
    border-bottom-color: #fff;
}

.product-data-more-tabs-tab a {
    color: inherit;
}

.product-data-more .product-data-more-sheets {
    border-top: none;
}