
{assign var=leftSideBar value=$BricksManager->getBricksByArea('leftSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

{*

ACHTUNG!
Das ist der LINKE Sidebar mit push- und pull- Klassen von Unsemantic.
D.h. der Sidebar wird nach links gepullt, obwohl er in der HTML Code nach dem Main-Content kommt.

*}
<div class="page-multible-right grid-70 push-30 mobile-grid-100" role="main">

    {if !empty( $prefixContentBricks )}
    {foreach from=$prefixContentBricks item=Brick}
    <div class="tpl-businessPro-row">
        {if $Brick->getAttribute('frontendTitle')}
            <h1 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h1>
        {/if}
        {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}

    {if !$showHeader}
        {if $showPageTitle}
        <header class="content-header">
            <h1 itemprop="name">
                {$Site->getAttribute('title')}
            </h1>
        </header>
        {/if}

        {if $showPageShort}
        <div class="content-short" itemprop="description">
            {$Site->getAttribute('short')|nl2br}
        </div>
        {/if}
    {/if}


    {$Template->getBody()}


    {if !empty( $suffixContentBricks )}
    {foreach from=$suffixContentBricks item=Brick}
    <div class="tpl-businessPro-row">
        {if $Brick->getAttribute('frontendTitle')}
            <h2 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h2>
        {/if}
        {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}

</div>

<div class="page-multible-left grid-30 pull-70 mobile-grid-100">
    {foreach from=$leftSideBar item=Brick}
        <div class="tpl-businessPro-row">
            {if $Brick->getAttribute('frontendTitle') &&
                $Brick->getType() != 'QUI\Bricks\Controls\Children\Listing'
            }
                <h2 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h2>
            {/if}
            {if $Brick->getType() != 'QUI\Bricks\Controls\Children\Listing'}
                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
            {/if}
            {$Brick->create()}
        </div>
    {/foreach}
</div>

