
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('contentPrefix', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('contentSuffix', $Site)}

<div class="main-no-sidebar-thin">
    {if !empty( $prefixContentBricks )}
    {foreach from=$prefixContentBricks item=Brick}
    <section class="template-brick-container template-brick-contentPrefix brick-id-{$Brick->getAttribute('id')}">
        <div class="template-grid-row">
            {if $Brick->getAttribute('frontendTitle')}
                <h2 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h2>
            {/if}
            {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
            {$Brick->create()}
        </div>
    </section>
    {/foreach}
    {/if}

    {if $header == 'beforeContent' && !$productPage}
        {if $Site->getAttribute('image_emotion')}
        <header class="page-content-header page-content-header-emotion"
                style="background-image: url('{image src=$Site->getAttribute('image_emotion') width=1160 onlysrc=1 rewrited=1}')"
        >
            <div class="page-content-header-emotion-container">
                <h1>{$Site->getAttribute('title')}</h1>
                <div class="page-content-emotion-short">
                    {$Site->getAttribute('short')}
                </div>
            </div>
        </header>
        {else}
        <header class="page-content-header">
            <h1>{$Site->getAttribute('title')|nl2br}</h1>
            <div class="page-content-emotion-short">
                {$Site->getAttribute('short')|nl2br}
            </div>
        </header>
        {/if}
    {/if}

    {$Template->getBody()}

    {if !empty( $suffixContentBricks )}
    {foreach from=$suffixContentBricks item=Brick}
    <section class="template-brick-container template-brick-contentSuffix brick-id-{$Brick->getAttribute('id')}">
        <div class="template-grid-row">
            {if $Brick->getAttribute('frontendTitle')}
                <h2 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h2>
            {/if}
            {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
            {$Brick->create()}
        </div>
    </section>
    {/foreach}
    {/if}
</div>