.quiqqer-categories-menu {
    background: #1e2c33;
    color: #eee;
    min-height: 100%;
    overflow: hidden;
}

.categories-menu-header {
    color: #868d8a;
    font-size: 1.25rem;
    padding: 2rem;
}

.categories-menu-container {
    position: relative;
}

.categories-menu-list {
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    width: 100%;
}

.categories-menu-list-level-1 {
    display: block;
    position: initial;
    transform: translateX(0%);
}

.categories-menu-list-entry {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
}

.categories-menu-list-entry:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.categories-menu-list-entry-link,
.categories-menu-list-entry-backButton {
    color: #eee;
    display: block;
    flex-grow: 1;
    padding: 1rem 2rem 1rem 2rem;
    transition: 0.2s color, 0.2s background-color;
}

.categories-menu-list-entry-link__hasChildren {
    padding-right: 1rem;
}

.categories-menu-list-entry-next {
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    margin-left: auto;
    padding: 0 1.75rem;
    transition: 0.2s color, 0.2s background-color;
}

.categories-menu-list-entry-short {
    color: #868d8a;
    font-size: 0.75rem;
    line-height: 0.9rem;
    margin: 0;
}

.categories-menu-list-entry-link:hover,
.categories-menu-list-entry > .categories-menu-list-entry-next:hover,
.categories-menu-list-entry-backButton:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* back button */
.categories-menu-list-entry-backButton {
    cursor: pointer;
}

.categories-menu-list-entry-backButton-icon {
    margin-right: 10px;
}