{assign var=smallFooter value=''}
{if !$Template->getAttribute('showFooter')}
    {assign var=smallFooter value='template-footer__small'}
{/if}
<section data-nosnippet="true" class="template-footer-wrapper">
    <footer class="template-footer {$smallFooter}">
        {if $Template->getAttribute('showFooter')}
            {* footer brick area *}
            {fetch template="template/footer/bricks.html" BricksManager=$BricksManager}

            {* pre-defined footer *}
            {fetch template="template/footer/predefinedFooter.html"
                paymentsData=$paymentsData
                shortText=$shortText
                urlList=$urlList
                featuredProducts=$featuredProducts
            }
        {/if}

        {* footer copyright *}
        {fetch template="template/footer/copyright.html"}
    </footer>
</section>

{* to top icon *}
{fetch template="template/footer/toTop.html"}

{* scripts *}
{fetch template="template/footer/scripts.html" Template=$Template}