{* <!-- Shop category menu / mobile menu --> *}
<div class="shop-category-menu-button-wrapper {if !$showCategoryMenu}hide-on-desktop{/if}"
     {if $showCategoryMenu}title="{locale group='quiqqer/template-cologne' var='categoryMenu.openButton.title'}"{/if}>
    <span class="shop-category-menu-button">
        <span class="fa fa-bars"></span>
    </span>
</div>

{* <!-- Logo --> *}
<div class="cologne-header-logo template-column">
    <a href="{$Project->get(1)->getUrlRewritten()}" class="cologne-header-logo-link">
        {image image=$Logo class="logo" width="{$Template->getAttribute('logoWidth')}" height="{$Template->getAttribute('logoHeight')}"}
    </a>
</div>