{* <!-- User login --> *}
<div class="template-column cologne-header-control">
    <button class="tpl-btn search-button" style="opacity: 0"
            title="{locale group='quiqqer/template-cologne' var='template.button.search'}">
        <span class="fa fa-search"></span>
    </button>

    <div class="cologne-header-control-basket">
        {if $createBasketButton}
        {if $basketStyle == 'compact'}
        <button disabled class="quiqqer-order-basketButton button--callToAction tpl-btn basket-style-{$basketStyle}"
                style="float: right;"><span class="quiqqer-order-basketButton-icon-custom"><span
                class="fa fa-shopping-basket"></span></span><span
                class="quiqqer-order-basketButton-quantity quiqqer-order-basketButton-batch-custom">0</span></button>
        {else}
        <button disabled class="quiqqer-order-basketButton button--callToAction tpl-btn basket-style-full"
                style="float: right;">
                <span class="quiqqer-order-basketButton-icon-custom">
                    <span class="fa fa-shopping-basket"></span>
                </span>
            <span class="quiqqer-order-basketButton-quantity quiqqer-order-basketButton-batch-custom">0</span>
            <span class="quiqqer-order-basketButton-sum">
                    {*$InitialBasketPrice->getDisplayPrice()*}
                    {$initialBasketPrice}
                </span>
        </button>
        {/if}
        {/if}
    </div>
</div>