/********************/
/* simple user info */
/********************/
.sui-container {
    display: flex;
    flex-wrap: wrap;
}

.sui-top {
    background: #eee;
    height: 100px;
    width: 100%;
}

.sui-badge {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    cursor: help;
    display: block;
    float: right;
    font-size: 0.9em;
    height: 26px;
    margin: 20px;
    padding: 5px 10px;
}

.sui-badge .fa {
    margin-right: 7px;
    margin-left: 2px;
}

.sui-image {
    height: 100px;
    position: relative;
    width: 100px;
}

.sui-image img {
    background: #fff;
    border: 8px solid #fff;
    border-radius: 50px;
    height: 100px;
    object-fit: cover;
    position: relative;
    top: -40%;
    width: 100px;
}

.sui-data {
    padding: 5px 20px;
    width: calc(100% - 100px);
}

.sui-data-name {
    display: block;
    font-size: 1.3em;
}

.sui-data-joined {
    opacity: 0.5;
}
