/********************/
/* simple user info */
/********************/
.sui-container {
    display: flex;
    flex-wrap: wrap;
}

.sui-top {
    width: 100%;
    height: 100px;
    background: #eee;
}

.sui-badge {
    background: #fff;
    cursor: help;
    display: block;
    float: right;
    height: 26px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    margin: 20px;
}

.sui-image {
    width: 100px;
    position: relative;
    height: 100px;
}

.sui-image img {
    border-radius: 50px;
    position: relative;
    top: -40%;
    border: 8px solid #fff;
    object-fit: cover;
    width: 100px;
    height: 100px;
    background: #fff;
}

.sui-data {
    width: calc(100% - 100px);
    padding: 5px 20px;
}

.sui-data-name {
    font-size: 1.3em;
    display: block;
}
.sui-data-joined {
    opacity: 0.5;
}
